/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../scss/idea/_idea.scss */
.idea-cap {
  color: #7a7a7a;
  /* text color */
  position: relative;
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  width: 576px;
  height: 113px;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-image: -webkit-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  background-image: linear-gradient(to right, #daf3f8 80%, #fef8ee 80%);
}
@media screen and (max-width: 480px) {
  /* line 7, ../../scss/idea/_idea.scss */
  .idea-cap {
    width: 100%;
    background-image: none;
    background-color: #daf3f8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}
/* line 30, ../../scss/idea/_idea.scss */
.idea-cap a {
  text-decoration: none;
}
/* line 33, ../../scss/idea/_idea.scss */
.idea-cap a.orange {
  color: #ffffff;
}
/* line 35, ../../scss/idea/_idea.scss */
.idea-cap a.orange:visited {
  color: #ffffff;
}
/* line 41, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap {
  padding-top: 25px;
  margin-left: 20px;
  width: 440px;
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 41, ../../scss/idea/_idea.scss */
  .idea-cap .left-idea-cap {
    margin-left: 0px;
    width: 320px;
    background-color: #daf3f8;
  }
}
/* line 53, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap p {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  /* line 53, ../../scss/idea/_idea.scss */
  .idea-cap .left-idea-cap p {
    text-indent: 20px;
  }
}
/* line 63, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting {
  width: 75.5px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
}
/* line 72, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting i {
  background-image: url('../../images/white-star.png?1380669755');
  background-repeat: no-repeat;
  background-position: 15% 45%;
  padding-left: 15px;
}
/* line 80, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting .unsupported {
  display: block;
  font-size: 11px;
}
/* line 84, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting .supported {
  display: none;
  font-size: 11px;
}
/* line 91, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting.activated .unsupported {
  display: none;
  font-size: 11px;
}
/* line 95, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting.activated .supported {
  display: block;
  font-size: 11px;
}
/* line 102, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .commenting {
  width: 65px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 11px;
}
/* line 121, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .sharing {
  display: inline-block;
  list-style-type: none;
  margin-top: 0px;
  float: none;
}
/* line 135, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap {
  position: absolute;
  list-style-type: none;
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  color: #797878;
  /* text color */
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 0px;
  right: 0px;
  top: 0px;
}
/* line 148, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap li {
  margin-top: 5px;
  line-height: 1.3em;
}
/* line 152, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap li:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 480px) {
  /* line 135, ../../scss/idea/_idea.scss */
  .idea-cap .right-idea-cap {
    position: relative;
    padding-top: 0px;
    width: 320px;
    background-color: #fef8ee;
    padding: 20px;
  }
  /* line 166, ../../scss/idea/_idea.scss */
  .idea-cap .right-idea-cap li {
    display: inline-block;
    width: 100px;
  }
}
/* line 172, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .emphasis {
  color: #f37d23;
  /* text color */
  background: #FFF;
  border-radius: 7px;
  padding: 2px 7px;
}
/* line 180, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .support-star {
  background-image: url('../../images/orange-star.png?1380665340');
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 15% 45%;
  padding-left: 15px;
}
/* line 188, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .support-star-orange {
  width: 12px;
  height: 10px;
  background: url('../../images/big-orange-star.png?1397523106');
  background-size: 100%;
  margin-top: 2px;
  margin-right: 3px;
  display: block;
  float: left;
}
/* line 199, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .comments-bubble {
  background-image: url('../../images/orange-comment.png?1390687077');
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 15% 45%;
  padding-left: 15px;
}

@media screen and (max-width: 480px) {
  /* line 211, ../../scss/idea/_idea.scss */
  .idea-interactions {
    margin: 20px auto;
    width: 250px;
  }
}

/* line 221, ../../scss/idea/_idea.scss */
.supporting,
.dislike,
.commenting {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 3, ../../scss/partials/_sharing.scss */
.sharing {
  list-style-type: none;
  display: inline-block;
}
/* line 6, ../../scss/partials/_sharing.scss */
.sharing li {
  display: inline-block;
}
/* line 9, ../../scss/partials/_sharing.scss */
.sharing li span {
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  vertical-align: super;
}
/* line 16, ../../scss/partials/_sharing.scss */
.sharing li a {
  display: block;
}
/* line 20, ../../scss/partials/_sharing.scss */
.sharing li a.share-fb {
  background: url('../../images/small-blue-facebook.png?1390687080') no-repeat;
  background-size: 100%;
  width: 18px;
  height: 15px;
}
/* line 27, ../../scss/partials/_sharing.scss */
.sharing li a.share-twitter {
  background: url('../../images/small-blue-twitter.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}
/* line 34, ../../scss/partials/_sharing.scss */
.sharing li a.share-linkedin {
  background: url('../../images/small-blue-linkedin.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 3, ../../scss/partials/_buttons.scss */
a.orange {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 8, ../../scss/partials/_buttons.scss */
a.orange.supporting.activated, a.orange.s-button.activated {
  color: #f9c98c;
  /* text color */
}

/* line 13, ../../scss/partials/_buttons.scss */
.blue {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
}

/* line 17, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 6, ../../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 28, ../../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 38, ../../scss/partials/_inputs.scss */
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 7, ../../scss/user/dashboard-mobile.scss */
#illustration {
  width: 930px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* line 16, ../../scss/user/dashboard-mobile.scss */
.submit {
  height: 33px;
  width: 322px;
  float: right;
  margin-right: 120px;
}

/* line 24, ../../scss/user/dashboard-mobile.scss */
#form-wrapper {
  width: 650px;
  margin: 0 auto;
}

/* line 29, ../../scss/user/dashboard-mobile.scss */
#add-photo {
  width: 80px;
  height: 79px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url('../../images/add-photo.png?1390687046');
  background-repeat: no-repeat;
  background-position: 57px 57px;
}

/* line 42, ../../scss/user/dashboard-mobile.scss */
#picture {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-repeat: no-repeat;
  background-position: 57px 57px;
  float: left;
  text-align: center;
}

/* line 53, ../../scss/user/dashboard-mobile.scss */
.user-info {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

/* line 59, ../../scss/user/dashboard-mobile.scss */
.user-stats {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 19px;
}

/* line 64, ../../scss/user/dashboard-mobile.scss */
.emphasis {
  color: #f47e23;
}

/* line 70, ../../scss/user/dashboard-mobile.scss */
#update-info,
#save-button,
#cancel-button {
  display: none;
}

/* line 76, ../../scss/user/dashboard-mobile.scss */
#edit-button,
#save-button,
#cancel-button {
  float: right;
  color: #FFFFFF;
  margin-left: 10px;
}
/* line 81, ../../scss/user/dashboard-mobile.scss */
#edit-button:visited,
#save-button:visited,
#cancel-button:visited {
  color: #FFFFFF;
}

/* line 86, ../../scss/user/dashboard-mobile.scss */
#user {
  margin-left: 120px;
  padding-top: 20px;
  margin-bottom: 50px;
}
/* line 92, ../../scss/user/dashboard-mobile.scss */
#user.editing #edit-button, #user.editing .user-info {
  display: none;
}
/* line 95, ../../scss/user/dashboard-mobile.scss */
#user.editing #update-info, #user.editing #save-button, #user.editing #cancel-button {
  display: block;
}

/* line 101, ../../scss/user/dashboard-mobile.scss */
#update-info {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
}
/* line 107, ../../scss/user/dashboard-mobile.scss */
#update-info label {
  float: left;
  width: 100px;
  margin-right: 10px;
}

/* line 114, ../../scss/user/dashboard-mobile.scss */
fieldset {
  border: none;
}

/* line 120, ../../scss/user/dashboard-mobile.scss */
#social-accounts li {
  display: inline-block;
  width: 30%;
  text-align: center;
}
/* line 125, ../../scss/user/dashboard-mobile.scss */
#social-accounts li.title {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 131, ../../scss/user/dashboard-mobile.scss */
#social-accounts li.social {
  color: #4585c3;
  font-family: "Museo Sans", sans-serif;
}
/* line 136, ../../scss/user/dashboard-mobile.scss */
#social-accounts li .orange {
  width: 65px;
  height: 22px;
  line-height: 22px;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  float: none;
  margin: 10px auto;
}

/* line 150, ../../scss/user/dashboard-mobile.scss */
.idea-details-list {
  float: right;
  padding-right: 20px;
  width: 150px;
}
/* line 154, ../../scss/user/dashboard-mobile.scss */
.idea-details-list li {
  margin: 10px auto;
  font-size: 14px;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  color: #4585c3;
}

/* line 164, ../../scss/user/dashboard-mobile.scss */
#curator-admin,
#dash-ideas {
  width: 650px;
  margin: 60px auto 60px;
}

/* line 169, ../../scss/user/dashboard-mobile.scss */
#curator-admin {
  border: 3px solid #f3812b;
  border-radius: 15px;
  padding: 10px;
}
