{% extends 'base.html' %}
{% load classnames %}
{% load getdict %}
{% load widget_tweaks %}
{% load ideacountables %}

{% load socialaccount %}
{% load socialtags %}


{% load avatar_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user/dashboard.css" />
{% endblock %}

{% block bodyid %}dashboard{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    {% get_social_accounts user as accounts %}
    <div id="form-wrapper">
{#        <form action="{% url 'user_dashboard' %}" method="POST">#}
{#            {% csrf_token %}#}
        <div id="picture">
            {% avatar user %}
            <a href="#update-avatar-overlay" id="update-avatar">update</a>
{#                        <img src="{{ user.get_profile_picture }}" alt=""/>#}
        </div>
        <div id="user">
            <a id="edit-button" class="buttonize orange" href="">edit</a>
            <a id="save-button" class="buttonize orange" href="">save</a>
            <a id="cancel-button" class="buttonize blue" href="">cancel</a>
            <div class="user-info">
                {{profile.first_name|default:"first"}} {{profile.last_name|default:"last"}} | {{profile.location|default:"unknown"}}
                {% if profile.region %}
                <br/>{{ profile.region }}
                {% endif %}
            </div>
            <form id="update-info" action="" METHOD="POST">
                {% csrf_token %}
                {{ update_form.as_p }}
{#                {{ update_form.first_name }} {{ update_form.last_name }} {{ update_form.location }}#}
            </form>

            <div class="user-stats">
                <span class="emphasis">{{ user|idea_count }}</span> ideas
                <span class="emphasis">{{ user|idea_support_count }}</span> ideas supported
                <span class="emphasis">{{ user|organizations_joined_count }}</span> organizations joined
            </div>
        </div>

        <div class="user-info">Social Accounts</div>
        <form id="social-form" class="uniForm" method="post">
            {% csrf_token %}
            <input id="id_account_removal" type="hidden" name="account" value=""/>
        <ul id="social-accounts" class="oauths-list">
            <li class="title twitter-oauth"><img src="{{ STATIC_URL }}images/twitter-blue.png" alt=""/></li>
            <li class="title facebook-oauth"><img src="{{ STATIC_URL }}images/facebook-blue.png" alt=""/></li>
            <li class="title linkedin-oauth"><img src="{{ STATIC_URL }}images/linkedin-blue.png" alt=""/></li>
            <li class="social">{{ user.get_twitter_account.get_provider_account|default:"not connected" }}</li>
            <li class="social">{{ user.get_facebook_account.get_provider_account|default:"not connected" }}</li>
            <li class="social">{{ user.get_linkedin_account.get_provider_account|default:"not connected" }}</li>
            <li class="modify" data-provider="twitter">
                {% if  user.get_twitter_account %}
                    <a href="#" data-method="remove" data-value="{{user.get_twitter_account.id}}" class="orange remove">remove</a>
                {% else %}
                    {% with provider=socialaccount.providers.0 %}
                        <a href="{% provider_login_url provider.id process="connect" %}" data-method="add" data-value="{{user.get_twitter_account.id}}" class="orange">add</a>
                    {% endwith %}
                {% endif %}
            </li>
            <li class="modify" data-provider="facebook">
                {% if  user.get_facebook_account %}
                    <a href="#" data-method="remove" data-value="{{user.get_facebook_account.id}}" class="orange remove">remove</a>
                {% else %}
                    {% with provider=socialaccount.providers.1 %}
                        <a href="{% provider_login_url provider.id process="connect" %}" data-method="add" data-value="{{user.get_facebook_account.id}}" class="orange">add</a>
                    {% endwith %}
                {% endif %}
            </li>
            <li class="modify" data-provider="twitter">
                {% if  user.get_linkedin_account %}
                    <a href="#" data-method="remove" data-value="{{user.get_linkedin_account.id}}" class="orange remove">remove</a>
                {% else %}
                    {% with provider=socialaccount.providers.2 %}
                        <a href="{% provider_login_url provider.id process="connect" %}" data-method="add" data-value="{{user.get_linkedin_account.id}}" class="orange">add</a>
                    {% endwith %}
                {% endif %}
            </li>
        </ul>
        </form>

{#        <form class="uniForm" method="post">#}
{#            {% csrf_token %}#}
{##}
{#            <fieldset class="blockLabels">#}
{#                {% if form.non_field_errors %}#}
{#                    <div id="errorMsg">{{form.non_field_errors}}</div>#}
{#                {% endif %}#}
{##}
{#                {% for base_account in form.accounts %}#}
{#                    {% with base_account.get_provider_account as account %}#}
{#                        <div class="ctrlHolder">#}
{#                            <label for="id_account_{{base_account.id}}">#}
{#                                <input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>#}
{#                                <span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>#}
{#                                {{account}}#}
{#                            </label>#}
{#                        </div>#}
{#                    {% endwith %}#}
{#                {% endfor %}#}
{##}
{#                {% if form.accounts %}#}
{#                <div class="buttonHolder">#}
{#                    <button type="submit">remove</button>#}
{#                </div>#}
{#                {% endif %}#}
{##}
{#            </fieldset>#}
{##}
{#        </form>#}
{##}
{#        <h2>Add a 3rd Party Account</h2>#}
{##}
{#        <ul class="socialaccount_providers">#}
{#        {% with process='connect' %}#}
{#            {% for provider in socialaccount.providers %}#}
{#                {% if provider.id == "openid" %}#}
{#                    {% for brand in provider.get_brands %}#}
{#                        <li>#}
{#                            <a title="{{brand.name}}"#}
{#                               class="socialaccount_provider {{provider.id}} {{brand.id}}"#}
{#                               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"#}
{#                                    >{{brand.name}}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#                <li>#}
{#                    <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"#}
{#                       href="{% provider_login_url provider.id process=process %}">{{provider.name}}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        {% endwith %}#}
{#        </ul>#}

{#                            {% include "socialaccount/snippets/login_extra.html" %}#}

{#        {{ form.about }}#}
{#        {{ form.news }}#}

{#            <input type="submit" class="submit" value="post"/>#}
{#        </form>#}
</div>

{% if user.get_curated_orgs %}
    <div id="curator-admin">
        <div class="user-info">Organizations Administrated</div>
        {% for org in user.get_curated_orgs %}
            {% include 'organization/organization_admin_list.html' %}
        {% endfor %}
    </div>
{% endif %}

<div id="dash-ideas">
    <div class="user-info">My Ideas</div>
    {% for idea in ideas %}
        {% include 'idea/idea_for_list.html' %}
    {% endfor %}
</div>


<div id="update-avatar-overlay" class="white-popup mfp-hide">
    <p>Your current avatar: </p>
    {% avatar user %}
    {% if not avatars %}
        <p>You haven't uploaded an avatar yet. Please upload one now.</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="Choose new Default" /></p>
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="Upload New Image" /></p>
    </form>
</div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-dashboard.js"></script>
{% endblock %}