/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 3, ../../scss/partials/_buttons.scss */
a.orange {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 8, ../../scss/partials/_buttons.scss */
a.orange.supporting.activated, a.orange.s-button.activated {
  color: #f9c98c;
  /* text color */
}
/* line 12, ../../scss/partials/_buttons.scss */
a.orange:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #ff9666 0%, #ffb045 100%);
  background-image: linear-gradient(to top, #ff9666 0%, #ffb045 100%);
}

/* line 17, ../../scss/partials/_buttons.scss */
.blue {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
}
/* line 19, ../../scss/partials/_buttons.scss */
.blue:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #91def7 0%, #60dff4 28%, #35dff8 38%, #52e5fe 100%);
  background-image: linear-gradient(to bottom, #91def7 0%, #60dff4 28%, #35dff8 38%, #52e5fe 100%);
}

/* line 24, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 3, ../../scss/partials/_chosen.scss */
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 9, ../../scss/partials/_chosen.scss */
.chosen-container-single .chosen-default {
  color: #bbb;
}

/* line 13, ../../scss/partials/_chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/orange-arrow.png) no-repeat 0 6px;
}

/* line 24, ../../scss/partials/_chosen.scss */
.auto-hint {
  color: #aaa;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 50, filtering/*.png */
.filtering-sprite, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-single.chzn-single-with-drop b {
  background: url('../../images/filtering-s20e78543db.png') no-repeat;
}

/* line 6, ../../scss/partials/_filtering.scss */
#filtering {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 14px;
  width: 570px;
  margin: 0 auto 10px;
}
@media screen and (max-width: 480px) {
  /* line 6, ../../scss/partials/_filtering.scss */
  #filtering {
    width: 100%;
  }
}

/* line 22, ../../scss/partials/_filtering.scss */
.chzn-container-single .chzn-single,
.chosen-container-single .chzn-default,
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 14px;
}

/* line 30, ../../scss/partials/_filtering.scss */
.chzn-container-single .chzn-single div {
  background: transparent;
  border: none;
  width: 14px;
}
/* line 34, ../../scss/partials/_filtering.scss */
.chzn-container-single .chzn-single div b {
  background-position: 0 0;
  height: 7px;
  margin-top: 8px;
}
/* line 44, ../../scss/partials/_filtering.scss */
.chzn-container-single .chzn-single.chzn-single-with-drop b {
  background-position: 0 -7px;
}

/* line 53, ../../scss/partials/_filtering.scss */
#order {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 53, ../../scss/partials/_filtering.scss */
  #order {
    width: 100%;
    margin: 5px 0px;
  }
}

@media screen and (max-width: 480px) {
  /* line 64, ../../scss/partials/_filtering.scss */
  #id_where {
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 480px) {
  /* line 71, ../../scss/partials/_filtering.scss */
  .chosen-container {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  /* line 77, ../../scss/partials/_filtering.scss */
  .chzn-container-single .chzn-single,
  .chosen-container-single .chosen-single {
    background-image: none;
    background: #ffffff;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 5px white;
    -moz-box-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px white;
    width: 100%;
  }
}

/* line 91, ../../scss/partials/_filtering.scss */
#sort_by {
  vertical-align: super;
}
@media screen and (max-width: 480px) {
  /* line 91, ../../scss/partials/_filtering.scss */
  #sort_by {
    display: block;
    padding: 10px;
    background-color: #ffffff;
  }
}

/* line 8, ../../scss/contact/tb-contact.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/orange-arrow-down-2x.png) no-repeat 0 6px;
  background-size: 66%;
}

/* line 19, ../../scss/contact/tb-contact.scss */
input.submit {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: linear, bottom, #f3812b 0%, #f9a533 100%;
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  height: 33px;
  width: 322px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}
/* line 27, ../../scss/contact/tb-contact.scss */
input.submit:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: linear, bottom, #ff9666 0%, #ffb045 100%;
}

/* line 33, ../../scss/contact/tb-contact.scss */
#form-wrapper {
  width: 324px;
  margin: 0 auto;
}

/* line 41, ../../scss/contact/tb-contact.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  width: 100%;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 65, ../../scss/contact/tb-contact.scss */
#id_subject {
  width: 100%;
  display: block;
}

/* line 70, ../../scss/contact/tb-contact.scss */
form ul.errorlist {
  display: none;
}

/* line 74, ../../scss/contact/tb-contact.scss */
textarea {
  width: 100%;
}

/* line 77, ../../scss/contact/tb-contact.scss */
label {
  margin-bottom: 5px;
  display: block;
}

/* line 82, ../../scss/contact/tb-contact.scss */
#id_subject_chosen {
  display: block;
  margin-bottom: 10px;
}

/* line 87, ../../scss/contact/tb-contact.scss */
h5 {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  color: #6fc4d8;
}

/* line 93, ../../scss/contact/tb-contact.scss */
#home-container > .promise {
  margin-bottom: 20px;
}

/* line 97, ../../scss/contact/tb-contact.scss */
form > .promise {
  margin-top: 30px;
}
