{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-privacy.css" />
{% endblock %}

{% block bodyid %}static{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
        <div>   </div>
        <div class="middle-column">
            {{ flatpage.content }}
         </div>
        <div class="clr"></div>
{% endblock %}

{% block footerscripts %}
{% endblock %}