{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-privacy.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-3 columns">
            <img src="{{ STATIC_URL }}images/greenhouse-88.png" id="greenhouse" alt=""/>
            <img src="{{ STATIC_URL }}images/guitarist-85.png" id="guitarist" alt=""/>
            <img src="{{ STATIC_URL }}images/hotdogtruck-82.png" id="hotdogtruck" alt=""/>
        </div>
        <div class="large-8 columns">
            {{ flatpage.content }}
         </div>
        <div class="large-1"></div>
    </div>
{% endblock %}

{% block footerscripts %}
{% endblock %}