@import 'idea/idea';
@import "partials/sharing";
@import "partials/buttons";

#illustration {
  background: url(../images/illustration-ship.jpg) no-repeat no-repeat;
  background-size: 100%;
  height: 238px;
  width: 930px;
  margin: 0 auto;
}

.submit {
  height: 33px;
  width: 322px;

  float: right;
  margin-right: 120px;
}

#form-wrapper {
  width:650px;
  margin: 0 auto;
}

#add-photo {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url(../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px
}


#picture {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-repeat: no-repeat;
  background-position: 57px 57px
}

.user-info {
  color: #53b8d1; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 24px;
}

.user-stats {
  color: #53b8d1; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 19px;
}

.emphasis {
  color: #f47e23;
}
