{% extends 'mobile/base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Organization Detail
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/organization/add-mobile.css" />
{% endblock %}

{% block bodyid %}organization-form{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="form-wrapper">
        <form method="POST" enctype="multipart/form-data" action="{{ organization.get_update_url }}">
            {% csrf_token %}
{#            <input type="hidden" name="neighborhood" value="{{ form.neighborhood.value }}"/>#}
{#            <input type="hidden" name="curators" value="{{ form.curators.value }}"/>#}

            {% include 'widgets/errors.html' %}
        <div class="row">
            <div id="deets">
                <label for="id_title">title</label>
                {{ form.title }}

                <div class="row">
                    <label for="id_website">website</label>
                    {{ form.website }}
                </div>

                <div class="row">
                    <label for="id_facebook_url">URL</label>
                    {{ form.facebook_url }}
                </div>

                <div class="row">
                    <label for="id_twitter_url">URL</label>
                    {{ form.twitter_url }}
                </div>

                <div class="row">
                    <label for="id_linkedin_url">URL</label>
                    {{ form.linkedin_url }}
                </div>
            </div>
                <img id="organization-logo" src="{{ organization.get_logo }}" alt=""/>
        </div>

        {#    About #}
        <div id="about">
            <label for="id_about">about</label>
                {{ form.about }}
        </div>

        {#    About #}
        <div id="sherlock_description">
            <label for="id_sherlock_description">explore</label>
            {{ form.sherlock_description }}
        </div>


            {#    News #}
        <div id="news">
            <div class="label">news</div>
            <div id="news-photo" name="news-photo" class="picture"></div>
            <textarea></textarea>
            <a href="#" class="orange buttonize">save</a>
        </div>


        {#    Pictures #}
        {% include "organization/common/pictures-form.html" %}

        {#    Partners #}
        {% include "organization/common/partners-form.html" %}

        {#    Features #}
        <div id="features">
            <div class="label">features</div>
            <div class="features-list">
                {% for location in organization.get_sherlock_locations %}
                    <a href="{{ location.get_update_url }}" class="feature">
                        <div class="feature-cap"></div>
                        <span>{{ location.name }}</span>
                    </a>
                {% endfor %}
                <a href="{{ organization.get_location_add_url }}"class="feature">
                    <div class="feature-cap"></div>
                    <span>add a feature</span>

                </a>
            </div>
            <div class="clr"></div>
        </div>


        <input type="submit" class="admin-submit orange submit-all" value="update all"/>

        </form>
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-fileinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-organization-admin.js"></script>
{% endblock %}