/* line 4, ../../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 26, ../../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 33, ../../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 1, ../../scss/partials/_buttons.scss */
.orange {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}
/* line 17, ../../scss/partials/_buttons.scss */
.orange.activated {
  color: #f9c98c;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}

/* line 23, ../../scss/partials/_buttons.scss */
.blue {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background: #8dd9f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8dd9f2), color-stop(28%, #5fd2e7), color-stop(38%, #30cae1), color-stop(100%, #4cc6de));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd9f2', endColorstr='#4cc6de',GradientType=0 );
  /* IE6-9 */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}

/* line 42, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 5, ../../scss/community/add.scss */
#illustration {
  background: url(../../images/illustration-ship.jpg) no-repeat no-repeat;
  background-size: 100%;
  height: 238px;
  width: 930px;
  margin: 0 auto;
}

/* line 13, ../../scss/community/add.scss */
.orange {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}

/* line 30, ../../scss/community/add.scss */
.s-button {
  height: 33px;
  line-height: 33px;
  width: 100px;
  float: left;
  margin-left: 20px;
  text-align: center;
}
/* line 38, ../../scss/community/add.scss */
.s-button:first-child {
  margin-left: 0px;
}

/* line 43, ../../scss/community/add.scss */
#header {
  background: #33bdd4;
  color: #ffffff;
  font-family: 'MuseoSans';
  height: 33px;
  line-height: 33px;
  width: 100%;
  border-radius: 10px;
  padding: 0 20px;
}

/* line 54, ../../scss/community/add.scss */
.centered {
  margin: 0 auto;
  float: none;
  text-align: center;
}

/* line 61, ../../scss/community/add.scss */
.row.title {
  text-align: center;
}
/* line 65, ../../scss/community/add.scss */
.row.addpad {
  padding-bottom: 20px;
}

/* line 70, ../../scss/community/add.scss */
#cta {
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

/* line 77, ../../scss/community/add.scss */
.actions {
  margin: 0 auto;
  width: 463px;
}

/* line 82, ../../scss/community/add.scss */
#form-wrapper {
  width: 600px;
  margin: 0 auto;
}

/* line 87, ../../scss/community/add.scss */
#add-photo {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px;
}

/* line 103, ../../scss/community/add.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
}

/* line 110, ../../scss/community/add.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 133, ../../scss/community/add.scss */
#id_captcha_choicefield {
  list-style: none;
}

/* line 137, ../../scss/community/add.scss */
#id_captcha_choicefield li {
  display: inline-block;
  margin-left: 60px;
}

/* line 142, ../../scss/community/add.scss */
#id_captcha_choicefield li:first-child {
  margin-left: 15px;
}

/* line 146, ../../scss/community/add.scss */
#captcha-question {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 153, ../../scss/community/add.scss */
.terms-and-conditions {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 160, ../../scss/community/add.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 170, ../../scss/community/add.scss */
form .row .row.second-row {
  margin-top: 15px;
}

/* line 174, ../../scss/community/add.scss */
.copy {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 0px;
}

/* line 183, ../../scss/community/add.scss */
#id_what_for {
  width: 228px;
}

/* line 188, ../../scss/community/add.scss */
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 194, ../../scss/community/add.scss */
.chosen-container-single .chosen-default {
  color: #bbb;
}

/* line 198, ../../scss/community/add.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/orange-arrow.png) no-repeat 0 6px;
}

/* line 205, ../../scss/community/add.scss */
.chosen-container {
  margin-bottom: 15px;
}

/* line 209, ../../scss/community/add.scss */
.auto-hint {
  color: #aaa;
}

/* line 213, ../../scss/community/add.scss */
.idea-cap {
  color: #7a7a7a;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  width: 576px;
  height: 113px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 15px;
  background: #daf3f8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #daf3f8), color-stop(80%, #fef8ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  /* IE10+ */
  background: linear-gradient(to right, #daf3f8 80%, #fef8ee 80%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#daf3f8', endColorstr='#fef8ee',GradientType=1 );
  /* IE6-9 */
}

/* line 232, ../../scss/community/add.scss */
.left-idea-cap {
  padding-top: 30px;
  margin-left: 20px;
  width: 440px;
  float: left;
}
/* line 238, ../../scss/community/add.scss */
.left-idea-cap .supporting {
  width: 75.5px;
  height: 22px;
  background: url(../../images/support.png) no-repeat 0 100%;
  display: block;
  float: left;
}
/* line 246, ../../scss/community/add.scss */
.left-idea-cap .commenting {
  width: 65px;
  height: 22px;
  background: url(../../images/comment.png) no-repeat 0;
  display: block;
  float: left;
}
/* line 254, ../../scss/community/add.scss */
.left-idea-cap span {
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
}
/* line 260, ../../scss/community/add.scss */
.left-idea-cap .sharing {
  display: inline-block;
  list-style-type: none;
}

/* line 272, ../../scss/community/add.scss */
.right-idea-cap {
  float: right;
  width: 20%;
}
/* line 276, ../../scss/community/add.scss */
.right-idea-cap table {
  background: transparent;
  border: none;
}
/* line 283, ../../scss/community/add.scss */
.right-idea-cap table tr.even, .right-idea-cap table tr.alt, .right-idea-cap table tr:nth-of-type(even) {
  background: transparent;
}

/* line 292, ../../scss/community/add.scss */
#community-logo,
#news-photo,
.picture {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px;
  float: right;
  margin-right: 30px;
}

/* line 304, ../../scss/community/add.scss */
.picture {
  float: left;
  margin-left: 20px;
}
/* line 308, ../../scss/community/add.scss */
.picture:first-child {
  margin-left: 0px;
}

/* line 313, ../../scss/community/add.scss */
.feature {
  width: 135px;
  height: 20px;
  line-height: 20px;
  background-color: #dadbdc;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 101%;
  border-radius: 5px;
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

/* line 329, ../../scss/community/add.scss */
#news #news-photo {
  float: left;
  margin-right: 20px;
}
/* line 334, ../../scss/community/add.scss */
#news textarea {
  width: 416px;
}
/* line 338, ../../scss/community/add.scss */
#news .buttonize {
  float: right;
}

/* line 343, ../../scss/community/add.scss */
.submit-all {
  padding: 5px 100px;
  margin: 0 auto;
  display: block;
}

/* line 349, ../../scss/community/add.scss */
#form-wrapper {
  width: 600px;
  margin: 0 auto;
}
/* line 353, ../../scss/community/add.scss */
#form-wrapper #deets {
  float: right;
  width: 478px;
}
/* line 357, ../../scss/community/add.scss */
#form-wrapper #deets label {
  width: 70px;
  display: inline-block;
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}
/* line 365, ../../scss/community/add.scss */
#form-wrapper #deets input {
  width: 320px;
  display: inline;
}

/* line 373, ../../scss/community/add.scss */
#about label {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 379, ../../scss/community/add.scss */
.label {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 385, ../../scss/community/add.scss */
#about {
  clear: both;
}
/* line 388, ../../scss/community/add.scss */
#about #id_about {
  margin-left: 20px;
  width: 452px;
}

/* line 394, ../../scss/community/add.scss */
#pictures, #partners, #features {
  width: 100%;
  clear: both;
  margin-top: 20px;
}

/* line 400, ../../scss/community/add.scss */
.clr {
  clear: both;
}
