/* line 4, ../../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 26, ../../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 33, ../../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 43, ../../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 4, ../../scss/idea/add.scss */
#illustration {
  background: url(../../images/illustration-windturbines.png) no-repeat no-repeat;
  background-size: 100%;
  height: 238px;
  width: 930px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* line 13, ../../scss/idea/add.scss */
.submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  height: 33px;
  width: 322px;
  color: #fff;
  font-family: 'MuseoSans';
  clear: both;
  margin: 40px auto;
  display: block;
}

/* line 36, ../../scss/idea/add.scss */
#form-wrapper {
  width: 600px;
  margin: 0 auto;
}

/* line 41, ../../scss/idea/add.scss */
#pictures {
  width: 200px;
}

/* line 45, ../../scss/idea/add.scss */
#add-photo {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px;
}

/* line 60, ../../scss/idea/add.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
}

/* line 67, ../../scss/idea/add.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 74, ../../scss/idea/add.scss */
#id_captcha_choicefield {
  list-style: none;
}

/* line 78, ../../scss/idea/add.scss */
#id_captcha_choicefield li {
  display: inline-block;
  margin-left: 60px;
}

/* line 83, ../../scss/idea/add.scss */
#id_captcha_choicefield li:first-child {
  margin-left: 15px;
}

/* line 87, ../../scss/idea/add.scss */
#captcha-question {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 94, ../../scss/idea/add.scss */
.terms-and-conditions {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 101, ../../scss/idea/add.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 111, ../../scss/idea/add.scss */
form .row .row.second-row {
  margin-top: 15px;
}

/* line 115, ../../scss/idea/add.scss */
.copy {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 0px;
}

/* line 124, ../../scss/idea/add.scss */
#id_what_for {
  width: 228px;
}

/* line 129, ../../scss/idea/add.scss */
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 135, ../../scss/idea/add.scss */
.chosen-container-single .chosen-default {
  color: #bbb;
}

/* line 139, ../../scss/idea/add.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/orange-arrow.png) no-repeat 0 6px;
}

/* line 146, ../../scss/idea/add.scss */
.chosen-container {
  margin-bottom: 15px;
}

/* line 150, ../../scss/idea/add.scss */
.auto-hint {
  color: #aaa;
}

/* line 155, ../../scss/idea/add.scss */
.want {
  width: 80px;
  float: left;
}

/* line 160, ../../scss/idea/add.scss */
#id_name {
  width: 520px;
}

/* line 165, ../../scss/idea/add.scss */
#id_what_kind,
#id_where {
  width: 300px;
  float: left;
}

/* line 170, ../../scss/idea/add.scss */
#id_what_for_chosen {
  margin-left: 60px;
}

/* line 174, ../../scss/idea/add.scss */
#id_what_for {
  width: 218px;
}

/* line 178, ../../scss/idea/add.scss */
#id_description {
  width: 300px;
}

/* line 182, ../../scss/idea/add.scss */
.additional {
  width: 260px;
  float: left;
  margin-bottom: 10px;
}
/* line 187, ../../scss/idea/add.scss */
.additional.fl {
  width: 340px;
}

/* line 192, ../../scss/idea/add.scss */
.file-picker-input {
  float: left;
  margin-right: 20px;
}

/* line 199, ../../scss/idea/add.scss */
#pictures {
  float: right;
  width: 270px;
}

/* line 204, ../../scss/idea/add.scss */
#id_pic1, #id_pic2, #id_pic3, #id_pic4 {
  margin-bottom: 20px;
}

/* line 208, ../../scss/idea/add.scss */
.cloak {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  line-height: 80px;
}
/* line 214, ../../scss/idea/add.scss */
.cloak img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 220, ../../scss/idea/add.scss */
#id_links {
  width: 180px;
}
