@import "partials/sharing";
@import "partials/buttons";
@import "partials/inputs";
@import "partials/global";
@import "partials/news_feed";
@import "idea/idea";
@import "partials/chosen";
@import "partials/filtering";
@import "compass";
@import "compass/css3/border-radius";

//#illustration {
//  background-image: url(../../images/illustration-ship.png);
//}


.s-button {
  height: 33px;
  line-height: 33px;
  width: 100px;
  float: left;
  margin-left: 20px;
  text-align: center;

  &:first-child {
    margin-left: 0px;
  }
}

#header {
  background: #33bdd4;
  color: #ffffff;
  @include museo;
  line-height: 33px;
  width: 540px;
//  width: 463px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto 10px;
}

.centered {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.row {
  &.title {
    text-align: center;
  }
}

#cta {
  color: #7b7b7b; /* text color */
  @include museo;
  font-size: 15px;
  text-align: center;
  margin: 20px auto;
  width: 430px;
  line-height: 18px;
}


.actions {
  margin: 0 auto 15px;
  width: 463px;

  a {
    color:#ffffff;

    &:visited {
      color:#ffffff;
    }
  }
}

#form-wrapper {
  width:600px;
  margin: 0 auto;
}

#add-photo {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px
}

form .row .row.second-row {
  margin-top: 15px;
}

.copy {
  color: #6d6d6d; /* text color */
  @include museo;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 0px;
}

#id_what_for {
  width: 228px;
}

#about {
  margin: 30px 0;
}

// Overrides
#header {
  .sharing {
    //margin: 20px 0px 0px 15px;
    margin: 5px 0px 0px 0px;

    li {
      span {
        display: none;
      }
      a {
        &.share-fb {
          background: url(../../images/facebook-cloud.png) no-repeat;
          background-size: 100%;
          width: 21px;
          height: 18px;
        }
        &.share-twitter {
          background: url(../../images/twitter-cloud.png) no-repeat;
          background-size: 100%;
          width: 18px;
          height: 18px;
        }
        &.share-linkedin {
          background: url(../../images/linkedin-cloud.png) no-repeat;
          background-size: 100%;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.sharing {
  float:right;
}

.news-label {
  clear: both;
}

#news, #pictures, #partners {
  min-height: 100px;
}

#organization-logo {
  text-align: center;
  margin-bottom: 10px;

  img {
    max-width: 300px;
  }
}

#org-agg {
  font-size: 16px;
  @include header-blue-museo;
  text-align: center;
  margin: 20px auto;

  b {
    color: $tb-orange;
    font-weight: bold;
  }

  i {
    width: 12px;
    height: 10px;
    background: image-url('big-orange-star.png');
    background-size: 100%;
    margin-top: 2px;
    margin-right: 3px;
    display: block;
    float:left;
  }

  li {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
      margin-left: 0px;
    }
  }
}