{% load socialaccount %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Thoughtbubble{% endblock %}</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />#}
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/fonts.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" />


    <script src="{{ STATIC_URL }}js/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
{#    <script src="{{ STATIC_URL }}js/plugins/jquery.form.min.js"></script>#}
    <script src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script src="{{ STATIC_URL }}js/tb/tb-supporting.js"></script>

    <script type="text/javascript">
        {% if exploring_city and exploring_state %}
            var TB = TB || {};
            TB.exploring = {city: "{{ exploring_city }}",
                            state: "{{ exploring_state }}",
                            lat: {{ exploring_obj.latitude }},
                            lng: {{ exploring_obj.longitude }}
            };
        {% endif %}
    </script>
    {% block head %}
    {% endblock %}
</head>

<body id="{% block bodyid %}{%endblock%}" class="{% block bodyclass %}{%endblock%}{% if not user.is_authenticated %} logged-out{% else %} logged-in{% endif %}">
{% block navstart %}
    <div id="wrapper" class="">
        <div class="scale"></div>
        <div id="illustration">
            {#    Messages #}
            {% include "widgets/messages.html" %}
            {#    End Messages #}
            <ul id="login-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url "user_dashboard" %}">{{ user }}</a></li>
                {% else %}
                    <li><a id="join" class="open-popup-link" href="#join-overlay">join</a></li>
                    <li>|</li>
                    <li><a id="login" class="open-popup-link" href="#login-overlay">login</a></li>
                {% endif %}
            </ul>
            <ul id="nav">
                <li><a id="idea-nav" data-href="{% url "idea_list" exploring_state exploring_city %}" href="{% url "idea_list" exploring_state exploring_city %}">ideas</a></li>
                <li><a href="{% url "explore" exploring_state exploring_city %}">explore</a></li>
                <li><a href="/about">about</a></li>
            </ul>

            <a href="{% url "home" %}"><img id="logo" src="{{ STATIC_URL }}images/thoughtbubble.us-logo.png" alt=""/></a>

                {% block primarynav %}
                    <a id="primary-explore" href="{% url "explore" exploring_state exploring_city %}"><i class="icon-explore"></i>Explore and add your ideas</a>
                {% endblock %}
        </div>
        <div id="home-container">
{% endblock %}

{% block content %}
{% endblock %}
{% block navend %}
        <div id="footer">
            <div id="footer-wrap">
                <ul>
                    <li><a id="footer-logout" href="#logout-overlay">Logout</a></li>
                    <li><a id="footer-twitter" target="_blank" href="https://twitter.com/thoughtbubbleus"></a></li>
                    <li><a id="footer-facebook" target="_blank" href="https://www.facebook.com/thoughtbubble.us"></a></li>
                    <li><a id="footer-linkedin" target="_blank" href="https://www.linkedin.com/in/kirkmatthew"></a></li>
                </ul>
            </div>
        </div>
        <div id="sub-footer">
            <ul>
                <li><a href="/ideas">ideas</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/terms">terms</a></li>
                <li><a href="/partners">partners</a></li>
                <li class="second"><a href="/rules">rules</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/news">news</a></li>
                <li><a href="/privacy-policy">privacy</a></li>
            </ul>
        <p>&copy;2013, Thoughtbubble.us. All rights reserved.</p>
        </div>
    </div>
{% endblock %}

<script>
{#    $(document).foundation();#}
</script>
<div id="login-overlay" class="white-popup mfp-hide">
    <h6>login with</h6>
    <div class="oauths">
        <a class="facebook-oauth" href="{% provider_login_url "facebook" method="oauth2" %}"></a>
        <a class="linkedin-oauth" href="{% provider_login_url "linkedin" method="oauth2" %}"></a>
        <a class="twitter-oauth" href="{% provider_login_url "twitter" %}"></a>
    </div>

    <a href="#overlay-login-form" id="login-with-email" class="submit">login with email</a>
    <form id="overlay-login-form" action="/login" method="POST">
        {% csrf_token %}
        <p id="login-error"></p>
        {{ loginform.email }}
        {{ loginform.password }}
        <input type="submit" class="submit login" value="login" />
        <a id="forgot-password" href="#">forgot your password?</a>
    </form>
    <a href="#join-overlay" id="create-an-account">create an account</a>
</div>

<div id="join-overlay" class="white-popup mfp-hide">
    <h6>join with</h6>
    <div class="oauths">
        <a class="facebook-oauth" href="{% provider_login_url "facebook" method="oauth2" %}"></a>
        <a class="linkedin-oauth" href="{% provider_login_url "linkedin" method="oauth2" %}"></a>
        <a class="twitter-oauth" href="{% provider_login_url "twitter" %}"></a>
    </div>

    <a href="{% url 'signup' %}" id="join-email-account" class="submit">create an account with email</a>
    <a href="#join-organization" id="join-organization" class="submit">create an organization page</a>
</div>


<div id="logout-overlay" class="white-popup mfp-hide">
    <h6>Account Logout</h6>
    <form id="overlay-logout-form" action="{% url 'account_logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="submit" value="log me out" />
    </form>
</div>



{#Error#}
{#<button title="Close (Esc)" type="button" class="mfp-close">×</button>#}
</body>
<script src="{{ STATIC_URL }}js/tb/tb-global.js"></script>
{% block footerscripts %}
{% endblock %}
</html>