{% load socialaccount %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Thoughtbubble{% endblock %}</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/fonts.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" />


    <script src="{{ STATIC_URL }}js/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script src="{{ STATIC_URL }}js/tb/tb-supporting.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body id="{% block bodyid %}{%endblock%}" class="{% block bodyclass %}{%endblock%}">
{% block navstart %}
    <div id="wrapper" class="large-12">
        <div class="scale"></div>
        <div id="illustration">
            <ul id="login-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url "user_dashboard" %}">{{ user }}</a></li>
                {% else %}
                    <li><a href="{% url "signup" %}">join</a></li>
                    <li>|</li>
                    <li><a id="login" class="open-popup-link" href="#login-overlay">login</a></li>
                {% endif %}
            </ul>
            <ul id="nav">
                <li><a id="idea-nav" data-href="{% url "idea_list" %}" href="{% url "idea_list" %}">ideas</a></li>
                <li><a href="{% url "explore" %}">explore</a></li>
                <li><a href="/about">about</a></li>
            </ul>

            <a href="{% url "home" %}"><img id="logo" src="{{ STATIC_URL }}images/thoughtbubble.us-logo.png" alt=""/></a>

                {% block primarynav %}
                    <ul id="primary-nav">
                        <a href="{% url "explore" %}"><li class="icon-explore">explore</li></a>
                        <a href="{% url "addidea" %}"><li class="icon-add">add</li></a>
                    </ul>
                {% endblock %}
        </div>
{#    Messages #}
    {% if messages %}
            {% for message in messages %}
                <h4 class="message">{{ message }}</h4>
            {% endfor %}
    {% endif %}
{#    End Messages #}
        <div id="home-container">
{% endblock %}
{% block content %}
{% endblock %}
{% block navend %}
        <div id="footer">
            <div id="footer-wrap">
                <ul>
                    <li><a id="footer-logout" href="{% url 'account_logout' %}">Logout</a></li>
                    <li><a id="footer-twitter" href="{% url 'logout' %}"></a></li>
                    <li><a id="footer-facebook" href="{% url 'logout' %}"></a></li>
                    <li><a id="footer-linkedin" href="{% url 'logout' %}"></a></li>
                </ul>
            </div>
        </div>
        <div id="sub-footer">
            <ul>
                <li><a href="/ideas">ideas</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/terms">terms</a></li>
                <li><a href="/partners">partners</a></li>
                <li class="second"><a href="/rules">rules</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/news">news</a></li>
                <li><a href="{% url 'privacy' %}">privacy</a></li>
            </ul>
        <p>&copy;2013, Thoughtbubble.us. All rights reserved.</p>
        </div>
    </div>
{% endblock %}

<script>
{#    $(document).foundation();#}
</script>
<div id="login-overlay" class="white-popup mfp-hide">
    <h6>login with</h6>
    <div class="oauths">
        <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
        <a href="{% provider_login_url "linkedin" method="oauth2" %}">LinkedIn OAuth2</a>
        <a href="{% provider_login_url "twitter" %}">Twitter Connect</a>
    </div>
    <form action="/login" method="POST">
        {% csrf_token %}
        {{ loginform.email }}
        {{ loginform.password }}
        <input type="submit" class="submit" value="login with email" />
        <a id="forgot-password" href="#">forgot your password?</a>
    </form>
</div>
</body>
<script src="{{ STATIC_URL }}js/tb/tb-global.js"></script>
{% block footerscripts %}
{% endblock %}
</html>