{% extends 'base.html' %}
{% load classnames %}

{% block title %}
    Contact Form
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contact/tb-contact.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/chosen.jquery.min.js"></script>
{% endblock %}

{% block bodyid %}contact{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

    {% if success %}
        <h2>Thank you for contacting us! You will receive a reply within 48 hours!</h2>
    {% else %}
    <div id="form-wrapper">
        {% include 'widgets/errors.html' %}
        <form action="{% url 'contact_form' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="submit orange" value="contact"/>
        </form>
    </div>
    {% endif %}

{% endblock %}


{% block footerscripts %}
    <script type="text/javascript">
        $('#id_subject').chosen({disable_search_threshold: 10});
    </script>
{% endblock %}