{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Add an Idea
{% endblock %}

{% block head %}
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->


    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-explore.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

    <div id="map">

    </div>
    <div id="minisplore">
        <h3>community</h3>
        <div id="minisplore-wrapper">
                <ul>
                    {% for community in communities %}
                        <li><a href="{{ community.get_absolute_url }}"
                               data-id="{{ community.neighborhood.id }}"
                               data-community="{{ community.id }}"
                                >{{ community.neighborhood.name }}</a></li>
                    {% endfor %}
                        <li><a href="#" id="anywhere">anywhere else</a></li>
                </ul>
        </div>
    </div>

    <article id="communisplore">

    </article>

    <select name="metrodifier" id="metrodifier">
        {% for metro in metros.list %}
            <option value="{{ metro.0 }}"
                    {% if metro.0 == metros.current %}selected{%  endif %}
                    >{{ metro.0 }}, {{ metro.1 }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block footerscripts %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/baron.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jcarousellite.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-mapbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-explore.js"></script>

    {% if exploring %}
        <script type="text/javascript">
            minmin(
            {{ exploring.neighborhood.id }},
            {{ exploring.id }},
            '{{ exploring.get_absolute_url }}'
            );
        </script>
    {% endif %}

{% endblock %}