{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-main.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block content %}
    <div class="scale"></div>
            <div id="home-content">
            {{ copy }}
{#                <h1 class="large-heading">shape your spaces!</h1>#}
{#                <h2 class="large-subcopy">Undetermined copy that has yet to be written, goes here.</h2>#}
{##}
{#                <h3 class="small-heading">what we can do for you</h3>#}
{#                <p class="small-copy">We exist to empower you to be able to shape the spaces where you live, work, and play. We provide an easy to use interface for you to tell us what you want, build support networks, and follow your ideas as they come to life. Our goal is to improve your quality of life by bringing more of the experiences you want to have closer to you.</p>#}
{#                <h3 class="small-heading">what we can do together</h3>#}
{#                <p class="small-copy">We provide a platform for dynamic conversations with stakeholders in your community, a forum to drive consenus, and generate market interest from entrepreneurs and small business owners. We are a comprehensive community engagement platform with a  focus on location intelligence, giving you the tools to find out what your community wants and take action to make it happen!</p>#}
             </div>
{% endblock %}