{% extends 'base.html' %}
{% load classnames %}

{% block title %}
    Signup
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-signup.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

            <div id="form-wrapper">
                <div id="add-photo">

                </div>
                {% for field in form %}
                    {% if field.field|classname == 'ChoiceField' %}
                        <p id="captcha-question">to make sure you are human, please click on the {{ captcha_answer }}</p>
                        <ul id="{{ field.auto_id }}">
                        {% for choice in field.field.choices %}
                            <li>
                                <img src="{{ STATIC_URL }}images/{{ choice.1 }}" alt=""/>
                            </li>
                        {% endfor %}
                        </ul>
                    {% elif field.field|classname == 'BooleanField' %}
                        {{ field  }} <span class="terms-and-conditions">I accept the <a href="">Terms and Conditions</a></span>
                    {% else %}
                        {{ field  }}
                    {% endif %}
                {% endfor %}
                <input type="submit" class="submit" value="create profile"/>
            </div>
{% endblock %}