/* text color */
/* text color */
/* line 3, ../../scss/partials/_buttons.scss */
a.orange {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f3812b), color-stop(100%, #f9a533));
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 8, ../../scss/partials/_buttons.scss */
a.orange.supporting.activated, a.orange.s-button.activated {
  color: #f9c98c;
  /* text color */
}

/* line 13, ../../scss/partials/_buttons.scss */
.blue {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8dd9f2), color-stop(28%, #5fd2e7), color-stop(38%, #30cae1), color-stop(100%, #4cc6de));
  background-image: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: -moz-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: -o-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
}

/* line 17, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* text color */
/* line 6, ../../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 28, ../../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 38, ../../scss/partials/_inputs.scss */
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 6, ../../scss/map/explore.scss */
#illustration {
  background: #c9eaf7 no-repeat no-repeat;
  background-size: 100%;
  height: 150px;
  width: 930px;
  margin: 0 auto;
}

/* line 14, ../../scss/map/explore.scss */
#footer {
  margin: 10px 0 0 0;
  clear: both;
}

/* line 19, ../../scss/map/explore.scss */
#home-container {
  margin: 0 auto;
  width: 930px;
  position: relative;
}

/* line 25, ../../scss/map/explore.scss */
#map {
  width: 100%;
  height: 640px;
  background-color: #b5e2b3;
}

/* line 32, ../../scss/map/explore.scss */
#minisplore {
  display: none;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  z-index: 99;
  color: #fff;
  padding: 10px;
  background: #fff;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 23px;
  width: 294px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  text-indent: 20px;
  overflow: visible;
}
/* line 56, ../../scss/map/explore.scss */
#minisplore h3 {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 23px;
  margin: 0px;
  margin-bottom: 15px;
}
/* line 64, ../../scss/map/explore.scss */
#minisplore #anywhere-entry {
  width: 100%;
  color: #c6c6c6;
}
/* line 70, ../../scss/map/explore.scss */
#minisplore ul {
  background-color: white;
  display: block;
  margin-bottom: 0px;
  list-style-type: none;
}
/* line 77, ../../scss/map/explore.scss */
#minisplore li {
  font-size: 16px;
  margin-bottom: 10px;
  background: url(../../images/orange-arrow.png) no-repeat 0;
  background-position: 90%;
}

/* line 93, ../../scss/map/explore.scss */
#metrodifier {
  position: relative;
  width: 220px;
  float: right;
}

/* line 99, ../../scss/map/explore.scss */
#communisplore {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 640px;
  /*overflow: scroll;*/
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  /* uncomment to accelerate scrolling on iOS */
}
/* line 107, ../../scss/map/explore.scss */
#communisplore div.ending {
  width: 100%;
  height: 640px;
}
/* line 114, ../../scss/map/explore.scss */
#communisplore::-webkit-scrollbar {
  /* Prevents webkit cross-direction scrolling bug */
  width: 0;
}

/* line 121, ../../scss/map/explore.scss */
article {
  width: 33.3333%;
  min-width: 320px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 33.3333%;
  width: 100%;
}

/* line 130, ../../scss/map/explore.scss */
section {
  padding: 10px;
  margin-left: 40px;
  position: relative;
  transition: background 500ms, color 500ms;
  -moz-transition: background 500ms, color 500ms;
  -webkit-transition: background 500ms, color 500ms;
  background: #FFFFFF;
  border-radius: 10px;
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin-bottom: 10px;
  width: 265px;
}
/* line 148, ../../scss/map/explore.scss */
section.active {
  background: #cdcdcd;
  color: #eee;
}
/* line 152, ../../scss/map/explore.scss */
section.active .extended {
  display: block;
}
/* line 157, ../../scss/map/explore.scss */
section p {
  margin: 10px 0;
}

/* line 164, ../../scss/map/explore.scss */
section a h4 {
  color: #53b8d1;
  /* text color */
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

/* line 173, ../../scss/map/explore.scss */
section.active a {
  color: #eee;
}

/* line 174, ../../scss/map/explore.scss */
section.active small {
  color: #aaa;
}

/* line 175, ../../scss/map/explore.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 176, ../../scss/map/explore.scss */
h2 {
  font-size: 1.3333em;
}

/* line 177, ../../scss/map/explore.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 179, ../../scss/map/explore.scss */
.scroll {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 186, ../../scss/map/explore.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 191, ../../scss/map/explore.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}

/* line 197, ../../scss/map/explore.scss */
.cover.active:before {
  background: url(sprite.png) 0px -120px no-repeat;
}

/* line 200, ../../scss/map/explore.scss */
.share a {
  margin-left: 10px;
}
/* line 203, ../../scss/map/explore.scss */
.share a:first-child {
  margin-left: 0;
}

/* line 211, ../../scss/map/explore.scss */
.tt-dropdown-menu {
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 10px;
  background: #fff;
  color: #b6b6b7;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  text-indent: 20px;
  overflow: visible;
}
/* line 231, ../../scss/map/explore.scss */
.tt-dropdown-menu p {
  margin-bottom: 5px;
}

/* line 236, ../../scss/map/explore.scss */
.twitter-typeahead {
  display: block !important;
  width: 87%;
  margin: 0 auto;
}

/* line 245, ../../scss/map/explore.scss */
.leaflet-container h3 {
  margin: 0px;
}

/* line 256, ../../scss/map/explore.scss */
.leaflet-popup-content a h3 {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 262, ../../scss/map/explore.scss */
.leaflet-popup-content h3 {
  color: #000;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
