/* line 1, ../../scss/partials/_buttons.scss */
.orange {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}
/* line 17, ../../scss/partials/_buttons.scss */
.orange.activated {
  color: #f9c98c;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}

/* line 23, ../../scss/partials/_buttons.scss */
.blue {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background: #8dd9f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8dd9f2), color-stop(28%, #5fd2e7), color-stop(38%, #30cae1), color-stop(100%, #4cc6de));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd9f2', endColorstr='#4cc6de',GradientType=0 );
  /* IE6-9 */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}

/* line 42, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 3, ../../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 25, ../../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 32, ../../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 4, ../../scss/map/explore.scss */
#illustration {
  background: #c9eaf7 no-repeat no-repeat;
  background-size: 100%;
  height: 150px;
  width: 930px;
  margin: 0 auto;
}

/* line 12, ../../scss/map/explore.scss */
#footer {
  margin: 10px 0 0 0;
  clear: both;
}

/* line 17, ../../scss/map/explore.scss */
#home-container {
  margin: 0 auto;
  width: 930px;
  position: relative;
}

/* line 23, ../../scss/map/explore.scss */
#map {
  width: 100%;
  height: 640px;
  background-color: #b5e2b3;
}

/* line 30, ../../scss/map/explore.scss */
#minisplore {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  z-index: 99;
  color: #fff;
  padding: 10px;
  background: #fff;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 23px;
  width: 294px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  text-indent: 20px;
  overflow: visible;
}
/* line 53, ../../scss/map/explore.scss */
#minisplore h3 {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 23px;
  margin: 0px;
}
/* line 60, ../../scss/map/explore.scss */
#minisplore #anywhere-entry {
  width: 100%;
  color: #c6c6c6;
}
/* line 66, ../../scss/map/explore.scss */
#minisplore ul {
  background-color: white;
  display: block;
  margin-bottom: 0px;
  list-style-type: none;
}
/* line 73, ../../scss/map/explore.scss */
#minisplore li {
  font-size: 16px;
  margin-bottom: 10px;
  background: url(../../images/orange-arrow.png) no-repeat 0;
  background-position: 90%;
}

/* line 89, ../../scss/map/explore.scss */
#metrodifier {
  position: relative;
  width: 220px;
  float: right;
}

/* line 95, ../../scss/map/explore.scss */
#communisplore {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 640px;
  /*overflow: scroll;*/
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  /* uncomment to accelerate scrolling on iOS */
}
/* line 103, ../../scss/map/explore.scss */
#communisplore div.ending {
  width: 100%;
  height: 640px;
}
/* line 110, ../../scss/map/explore.scss */
#communisplore::-webkit-scrollbar {
  /* Prevents webkit cross-direction scrolling bug */
  width: 0;
}

/* line 117, ../../scss/map/explore.scss */
article {
  width: 33.3333%;
  min-width: 320px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 33.3333%;
  width: 100%;
}

/* line 126, ../../scss/map/explore.scss */
section {
  padding: 10px;
  margin-left: 40px;
  position: relative;
  transition: background 500ms, color 500ms;
  -moz-transition: background 500ms, color 500ms;
  -webkit-transition: background 500ms, color 500ms;
  background: #FFFFFF;
  border-radius: 10px;
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin-bottom: 10px;
  width: 265px;
}
/* line 140, ../../scss/map/explore.scss */
section .extended {
  display: none;
}
/* line 144, ../../scss/map/explore.scss */
section.active {
  background: #cdcdcd;
  color: #eee;
}
/* line 148, ../../scss/map/explore.scss */
section.active .extended {
  display: block;
}
/* line 153, ../../scss/map/explore.scss */
section p {
  margin: 10px 0;
}

/* line 160, ../../scss/map/explore.scss */
section a h4 {
  color: #53b8d1;
  /* text color */
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

/* line 169, ../../scss/map/explore.scss */
section.active a {
  color: #eee;
}

/* line 170, ../../scss/map/explore.scss */
section.active small {
  color: #aaa;
}

/* line 171, ../../scss/map/explore.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 172, ../../scss/map/explore.scss */
h2 {
  font-size: 1.3333em;
}

/* line 173, ../../scss/map/explore.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 175, ../../scss/map/explore.scss */
.scroll {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 182, ../../scss/map/explore.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 187, ../../scss/map/explore.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}

/* line 193, ../../scss/map/explore.scss */
.cover.active:before {
  background: url(sprite.png) 0px -120px no-repeat;
}

/* line 196, ../../scss/map/explore.scss */
.share a {
  margin-left: 10px;
}
/* line 199, ../../scss/map/explore.scss */
.share a:first-child {
  margin-left: 0;
}

/* line 207, ../../scss/map/explore.scss */
.tt-dropdown-menu {
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 10px;
  background: #fff;
  color: #b6b6b7;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  text-indent: 20px;
  overflow: visible;
}
/* line 227, ../../scss/map/explore.scss */
.tt-dropdown-menu p {
  margin-bottom: 5px;
}

/* line 232, ../../scss/map/explore.scss */
.twitter-typeahead {
  display: block !important;
  width: 87%;
  margin: 0 auto;
}
