{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Add an Idea
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/chosen.jquery.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/idea/add.css" />
{% endblock %}

{% block bodyid %}add-idea{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

    <div id="form-wrapper">
        {% include "widgets/errors.html" %}
        <form enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            <p class="copy want">I want</p>
            <div class="">{{ form.name}}</div>
            {{ form.what_kind|attr:"data-placeholder:It's a ..." }}
            {{ form.what_for|attr:"data-placeholder:For ..." }}
            {{ form.content_object|attr:"data-placeholder:It should be in ..." }}

            <div>
                <div class="copy additional fl">I imagine something like this:</div>
                <div class="copy additional">Similar to this:</div>
            </div>
            <div class="">
                <div id="pictures">
                    {{ form.pic1 }}
                    {{ form.pic2 }}
                    {{ form.pic3 }}
                    {{ form.pic4 }}
                    {{ form.links }}
                </div>
                {{ form.description|add_class:"auto-hint"|attr:"title:type something here about your idea..." }}

            </div>

            <input type="submit" class="submit" value="post"/>
        </form>
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-addidea.js"></script>
{% endblock %}