#illustration {
    background: #c9eaf7 no-repeat no-repeat;
    background-size: 100%;
    height: 150px;
    width: 930px;
    margin: 0 auto;
}

#footer {
    margin: 10px 0 0 0;
    clear: both;
}

#home-container {
    margin: 0 auto;
    width: 930px;
    position: relative;
}

#map {
    width:100%;
    height:640px;
    background-color: #b5e2b3;
}


#minisplore {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 40px;
    z-index: 99;
    color: #fff;
    padding: 10px;
    background: #fff;
    color: #53b8d1; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 23px;
    width: 294px;
    height: 223px;
    border-radius: 5px;

    -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    7px 7px 5px rgba(0, 0, 0, 0.2);
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.2);

    text-indent: 20px;
    overflow: hidden;

}

#minisplore h3 {
    color: #53b8d1; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 23px;
    margin: 0px;
}

#minisplore-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 180px;
}

#minisplore ul {
    background-color: white;
    display: block;
    margin-bottom: 0px;
}

#minisplore li {
    font-size: 16px;
    margin-bottom: 10px;
    background: url(../images/orange-arrow.png) no-repeat 0;
    background-position: 90%;
}

#metrodifier {
    position: relative;
    width: 220px;
    float: right;
}

#communisplore {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 640px;
  /*overflow: scroll;*/
}

#communisplore {
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; *//* uncomment to accelerate scrolling on iOS */
}
#communisplore::-webkit-scrollbar { /* Prevents webkit cross-direction scrolling bug */
  width: 0;
}

#communisplore div.ending {
  width: 100%;
  height: 640px;
}

.orange {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}


// Sherlock

article {
  width:33.3333%;
  min-width:320px;
  position:relative;
  padding-top:40px;
  padding-bottom:33.3333%;
}

section {
  padding:10px;
  margin-left:40px;
  position:relative;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  background: #FFFFFF;
  border-radius: 10px;
  color: #7b7b7b; /* text color */
  font-family: "Museo Sans", sans-serif;
  margin-bottom:10px;

  .extended {
    display: none;
  }

  &.active {
    background: #cdcdcd;
    color:#eee;

    .extended {
      display: block;
    }
  }

  p {
    margin: 10px 0;
  }

}

section a {
  h4 {
    color: #53b8d1; /* text color */
    text-decoration:none;
    font-weight: normal;
    margin: 0;
  }
  //text-shadow:rgba(64,64,64,1) 0px 0px 4px;
}

section.active a { color:#eee; }
section.active small { color:#aaa; }
h1 { font-size:2em; line-height:1em; }
h2 { font-size:1.3333em; }
h1,h2 { margin:0px 0px 10px; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
}
.colophon {
  display:block;
  margin-top:10px;
}

.cover:before {
  content:'';
  display:block;
  width:120px; height:120px;
  margin:0px auto 20px;
}
.cover.active:before { background:url(sprite.png) 0px -120px no-repeat; }
