

h1 {
    color: #6fc4d8; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 50px;
    margin: 45px 0 0 0;
    font-weight: normal;
}

h2 {
    color: #8b8b8b; /* text color */
    font-family: "Helvetica";
    font-size: 19px;
    margin: 0 0 95px 0;
    font-weight: normal;
}

h3 {
    color: #6fc4d8; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 19px;
    margin: 45px 0 0 0;
    font-weight: normal;
}

p {
    color: #6c6d70; /* text color */
    font-family: "Helvetica";
    font-size: 14px;
}

#home-content {
    width: 500px;
    margin: 0 auto;
}

.disabled {
    color: #b0b0b0;
}

#toprule {
  position: absolute;
  width: 100%;
  height: 8px;
  background: image-url('top-scale.png') repeat-x;
}