@import "partials/general";

h1,
h2,
h3 {
    font-size: 18px;
    font-weight: normal;
    @include header-blue-museo;
    margin:10px 0;
}

h4,
h5,
h6 {
    font-size: 12px;
    @include header-blue-museo;
    font-weight: normal;
    margin:10px 0;
}

p {
    font-size: 12px;
    color: #58595b;
    @include dark-gray-museo;
    text-align: justify;
    line-height: 1.5em;

}

.middle-column {
  width: 600px;
  margin: 0 auto;

  :first-child {
    //margin-top: 0px;
  }
}

ul.bullet-list {
  list-style-type: disc;
  margin-left: 40px;

  li {
  font-size: 12px;
  color: #58595b;
  @include dark-gray-museo;
  text-align: justify;
  line-height: 1.5em;
  }
}

strong, b {
  font-weight: bold;
}

i {
  font-style: italic;
}
//
//.clr {
//  clear: both;
//}