{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Community Detail
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/community/detail.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
            <div class="">
                <img src="{{ community.get_logo }}" alt=""/>
            </div>

        {% if community.curator == request.user or request.user.is_superuser %}
            <h1><a href="{% url 'community_update' community.neighborhood.state community.neighborhood.city community.id %}">admin</a></h1>
        {% endif %}
        <div class="row title">
                <div id="header">{{ community.title }}
                    {% include "widgets/sharing.html" %}
                </div>
        </div>

        <p id="cta">join our community, share your ideas, explore your community, and view our ideas</p>

            <div class="actions">
                {% if request.user in community.members.all %}
                    <a href="{% url 'community_join' object.neighborhood.state object.neighborhood.city object.id %}" class="orange s-button activated">
                        joined
                    </a>
                {% else %}
                    <a href="{% url 'community_join' object.neighborhood.state object.neighborhood.city object.id %}" class="orange s-button">
                        join
                    </a>
                {% endif %}

                <a href="{% url 'idea_list' object.neighborhood.state object.neighborhood.city object.neighborhood.name %}" class="orange s-button">ideas</a>
                <a href="{% url 'sherlock' object.neighborhood.state object.neighborhood.city object.id %}" class="blue s-button">explore</a>
                <a href="#" class="blue s-button">add</a>
            </div>

    {#    About #}
            <div id="about" class="large-blue">
                {{ community.about }}
            </div>

            <div class="">
               {% include "widgets/sharing.html" %}
            </div>

        {#    News #}
            <div class="">news</div>
        <div id="news">
                <div id="news-photo"></div>
                <img id="news-photo"/>
                <div id="news-photos"></div>
        </div>


        {#    Pictures #}
        <div class="">pictures</div>
        <div class="picture"></div>
        <div class="picture"></div>

        {#    Partners #}
        <div class="">partners</div>
        <div class="picture"></div>
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-listidea.js"></script>
{% endblock %}