{% extends 'base.html' %}
{% load classnames %}
{% load getdict %}
{% load widget_tweaks %}

{% block title %}
    Add a Feature
{% endblock %}

{% block head %}
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/location/detail.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}icons/maki/maki-sprite.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

    {% if community.curator == request.user %}
        <h1><a href="{% url 'location_update' location.id %}">admin</a></h1>
    {% endif %}

    <div class="row title">
        <div id="header">{{ location.name }}</div>
    </div>

    <div class="row">
        <div class="large-6 columns about">{{ location.about }}</div>
        <div class="large-6 columns">
            <div id="map"></div>
        </div>
    </div>

    {#    News #}

    <div id="news" class="row">
        <div class="row">
            <div class="large-12 columns">news</div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <img src="" alt=""/>
                <h3>some title</h3>
            </div>
            <div class="large-2 columns">
                <a href="#" class="orange"></a>
            </div>
        </div>
    </div>

    {#    Pictures #}
    <div class="row addpad">
            <div class="row">
                <div class="large-12 columns">pictures</div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <img src="" alt=""/>
                    <img src="" alt=""/>
                    <img src="" alt=""/>
                </div>
            </div>
    </div>

    {#    Partners #}
    <div class="row addpad">
        <div class="row">
            <div class="large-12 columns">partners</div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <img src="" alt=""/>
                <img src="" alt=""/>
                <img src="" alt=""/>
            </div>
        </div>
    </div>

{#    Ideas #}
    {% for idea in ideas %}
            {% include 'idea/idea_for_list.html' %}
    {% endfor %}

{% endblock %}

{% block footerscripts %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-mapbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-feature.js"></script>
{% endblock %}