{% load socialaccount %}
<!DOCTYPE html>
<html class="thought-mobile">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Thoughtbubble{% endblock %}</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/snap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/global-mobile.css" />
{#    <link rel="stylesheet" href="{{ STATIC_URL }}fonts/fonts.css" />#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css" />


    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId : "608949152458030", // App ID
                status : true,
                cookie : true,
                xfbml : true
            });
        };
        (function(d) {
            var js, id = 'facebook-jssdk', ref = d
                    .getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

{#    <script src="{{ STATIC_URL }}js/custom.modernizr.js"></script>#}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/snap.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
{#    <script src="{{ STATIC_URL }}js/plugins/jquery.form.min.js"></script>#}
    <script src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script src="{{ STATIC_URL }}js/tb/tb-supporting.js"></script>

    <script type="text/javascript">
        var dinoSoundURL = "{{ STATIC_URL }}sounds/dino.mp3";
    </script>
    {% block head %}
    {% endblock %}
</head>

<body id="{% block bodyid %}{%endblock%}" class="{% block bodyclass %}{%endblock%}" data-view="{% if not user.is_authenticated %}logged-out{% else %}logged-in{% endif %}">
{% block slideoutnav %}
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <ul id="nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url "user_dashboard" %}">hi, {{ user }}</a></li>
                {% else %}
                    <li><span id="login-span"><a id="join" class="open-popup-link" href="#join-overlay">join</a> | <a id="login" class="open-popup-link" href="#login-overlay">login</a></span></li>
                {% endif %}
                <li><a id="idea-nav" href="{% url "idea_list"  %}">ideas</a></li>
                <li><a href="{% url "explore"  %}">explore+</a></li>
                <li><a href="/organizations">organizations</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </div>
        <div class="snap-drawer snap-drawer-right"></div>
    </div>
{% endblock %}

{% block navstart %}
    <div id="wrapper" class="snap-content">
    {% block toprule %} {% endblock %}
        <div id="illustration" {% block illustration%}class="{{ illustrations|random }}"{%endblock%}>
            {#    Messages #}
{#            {% include "widgets/messages.html" %}#}
            {#    End Messages #}



            <a id="logo" href="{% url "home" %}"></a>
            <a id="hamburger-button" href="#slide-out"></a>

                {% block primarynav %}
                    <a id="primary-explore" href="{% url "explore"  %}"></a>
                {% endblock %}
        </div>
        <div id="home-container">
{% endblock %}

{% block content %}
{% endblock %}
{% block navend %}
        <div id="footer">
            <div id="footer-wrap">
                <ul>
                    <li><a id="footer-logout" href="#logout-overlay">Logout</a></li>
                    <li><a id="footer-twitter" target="_blank" href="https://twitter.com/thoughtbubbleus"></a></li>
                    <li><a id="footer-facebook" target="_blank" href="https://www.facebook.com/thoughtbubble.us"></a></li>
                    <li><a id="footer-linkedin" target="_blank" href="https://www.linkedin.com/in/kirkmatthew"></a></li>
                </ul>
            </div>
        </div>
        <div id="sub-footer">
            <ul>
                <li><a href="{% url "idea_list"  %}">ideas</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/terms">terms</a></li>
                <br/>
                <li class="second"><a href="/partners">partners</a></li>
                <li><a href="/rules">rules</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <br/>
                <li class="second"><a href="/news">news</a></li>
                <li><a href="/privacy-policy">privacy</a></li>
                <li><a href="mailto:contact@thoughtbubble.us">contact</a></li>
            </ul>
        <p class="tb-copyright">&copy;2014, thoughtbubble.us, LLC. All rights reserved.</p>
        </div>
    </div>
{% endblock %}

<div id="login-overlay" class="white-popup mfp-hide">
    <h6>login with</h6>
    <div class="oauths">
        <a class="facebook-oauth" href="{% provider_login_url "facebook" method="oauth2" %}"></a>
        <a class="linkedin-oauth" href="{% provider_login_url "linkedin" method="oauth2" %}"></a>
        <a class="twitter-oauth" href="{% provider_login_url "twitter" %}"></a>
    </div>

    <a href="#overlay-login-form" id="login-with-email" class="submit large-text">login with email</a>
    <form id="overlay-login-form" action="/login" method="POST">
        {% csrf_token %}
        <p id="login-error"></p>
        {{ loginform.email }}
        {{ loginform.password }}
        <input type="submit" class="submit login large-text" value="login" />
        <a id="forgot-password" href="{% url 'account_reset_password' %}">forgot your password?</a>
    </form>
    <a href="#join-overlay" id="create-an-account">create an account</a>
</div>

<div id="join-overlay" class="white-popup mfp-hide">
    <h6>join with</h6>
    <div class="oauths">
        <a class="facebook-oauth" href="{% provider_login_url "facebook" method="oauth2" %}"></a>
        <a class="linkedin-oauth" href="{% provider_login_url "linkedin" method="oauth2" %}"></a>
        <a class="twitter-oauth" href="{% provider_login_url "twitter" %}"></a>
    </div>

    <a href="{% url 'signup' %}" id="join-email-account" class="submit">create an account with email</a>
{#    <a href="#join-organization" id="join-organization" class="submit">create an organization page</a>#}
    <a href="/organizations/" id="join-organization" class="submit">create an organization page</a>
</div>


<div id="logout-overlay" class="white-popup mfp-hide">
    <h6>Account Logout</h6>
    <form id="overlay-logout-form" action="{% url 'account_logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="submit large-text" value="log me out" />
    </form>
</div>

<div id="dislike-overlay" class="white-popup mfp-hide">
    <img src="{{ STATIC_URL }}images/big_jimmy.png" alt=""/>
    <h6>We are a collaborative community.</h6>
    <p>
        If you don't like an idea you can offer a different idea or a suggestion to make this one better, or you can talk with Jimmy our t-rex. The decision is yours, choose wisely...
    </p>


    <a href="#comment_submit" id="dino_comment" class="orange">comment</a>
    <a href="{{ idea.get_add_to_location_url }}" class="blue" id="dino_top">top that!</a>
    <div style="clear:both;"></div>
</div>

{% include "widgets/messages-popup.html" %}



{#Error#}
{#<button title="Close (Esc)" type="button" class="mfp-close">×</button>#}
</body>
<script src="{{ STATIC_URL }}js/tb/tb-global.js"></script>
<script src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
{% block footerscripts %}
{% endblock %}

<script type="text/javascript">
    var snapper = null;
    $(document).ready( function() {

       snapper = new Snap({
            element: document.getElementById('wrapper'),
            disable: 'right',
            touchToDrag: false
        });
        $('#hamburger-button').on("click", function(e) {
            e.preventDefault();
            var data = snapper.state();
            if (data.state == 'closed') {
                snapper.open('left');
            } else {
                snapper.close('left');
            }
        });
    })
</script>
</html>