{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-privacy.css" />
{% endblock %}

{% block bodyid %}privacy{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-3 columns">
            <img src="{{ STATIC_URL }}images/greenhouse-88.png" id="greenhouse" alt=""/>
            <img src="{{ STATIC_URL }}images/guitarist-85.png" id="guitarist" alt=""/>
            <img src="{{ STATIC_URL }}images/hotdogtruck-82.png" id="hotdogtruck" alt=""/>
        </div>
        <div class="large-8 columns">
            <h3>Privacy Policy</h3>
            <h4>Effective Date: October 1, 2013</h4>
            <p>Thoughtbubble.us values your privacy in your personal information and your Content that you store in our Service. This Privacy Policy explains what information Thoughtbubble.us collects about you and why, what we may do with that information and how we handle your Content.</p>

            <h4>What Is The Scope Of This Privacy Policy?</h4>
            <p>This Privacy Policy is incorporated into the Thoughtbubble.us Terms of Service, and applies to the information obtained by us through your use of this website, the Service and other Thoughtbubble.us products and services. Capitalized terms used in this Privacy Policy and not otherwise defined shall have the meanings provided for those terms in the Terms of Service.</p>

            <h4>Will This Privacy Policy Ever Change?</h4>
            <p>As Thoughtbubble.us evolves, we may need to update this Policy to keep pace with changes in the Service and laws applicable to us and you; we will, however, always maintain our commitment to respect your privacy.</p>

            <p>We will post any revisions to this Policy, along with their effective date, in an easy to find area of our web site, so we recommend that you periodically check back here to stay informed of any changes. We will ask for your consent to such changes if required by applicable law; in other cases, please note that your continuation of your Thoughtbubble.us Service account after any change means that you agree with, and consent to be bound by, the new Privacy Policy. If you disagree with any changes in this Policy and do not wish your information to be subject to the revised Policy, you will need to close your account before the new Policy becomes effective.
            <h4>I. Information Collection and Use</h4>
            <p>What Information Does Thoughtbubble.us Collect About Me and Why? We collect very little personal information about our users, especially users of our free service. A list of the “Personal Information” Thoughtbubble.us may collect, and why we collect it, follows:

            <p>Your username, email address, and contact preferences. This lets us create your account, provide you with convenient and personalized access to your account, and deliver and support the Service. This information also helps us communicate with you about your use of the Service, product announcements and software updates, as well as respond to your requests for assistance (including providing account verification support</p>
            <p>if you’re having difficultly accessing your account). In addition, we may use your Personal Information to send you marketing emails and special offers about the Service. For more information, please see the section below entitled, “Will Thoughtbubble.us Send Me Emails?”</p>
            <p>For Premium users, transactional information such as your credit card number and billing address or your PayPal or Google Wallet account information. This lets us process your payments for Premium services.</p>
            <p>The geographic area where you use your computer and mobile devices (as indicated by an IP address or similar identifier), and the language you select when interacting with the Thoughtbubble.us service. We collect this information in order to help us deliver and support the Service, including by localizing your Thoughtbubble.us experience. It also helps us improve our under standing of how our users use the Service.</p>
        </div>
        <div class="large-1"></div>
    </div>
{% endblock %}

{% block footerscripts %}
{% endblock %}