<ul id="{{ id }}" class="sharing">
    <li><span>share</span></li>
    <li><a class="share-fb" href="#facebook" data-share-copy="{{ fb.share_copy }}"
           data-share-image="{{ fb.share_image }}" data-share-caption="{{ fb.share_caption }}"
           data-share-name="{{ fb.share_name }}" data-share-link="{{ fb.share_link }}"></a></li>
    <li><a class="share-twitter" href="http://twitter.com/intent/tweet?text={{ twit.text }}" target="_blank"></a></li>
    <li><a class="share-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ linkedin.share_link }}&title={{ linkedin.title }}&summary={{ linkedin.summary }}"></a></li>
</ul>