{% extends 'base.html' %}
{% load classnames %}
{% load getdict %}
{% load widget_tweaks %}

{% block title %}
    Add a Feature
{% endblock %}

{% block head %}
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet/leaflet.draw.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tb-addfeature.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/location/location-admin.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}icons/maki/maki-sprite.css" />
{% endblock %}

{% block bodyid %}location-form{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="form-wrapper">
        <form action="{{ action_url }}" method="POST">
            {% csrf_token %}
                    {{ form.errors }}

            <div class="right-side">
                <div id="map"></div>
                <div id="latitude">
                    <label id="lat_label" class="copy" for="{{ form.latitude.auto_id }}">latitude</label>
                    {{ form.latitude }}

                </div>
                <div id="longitude">
                    <label id="long_label" class="copy" for="{{ form.longitude.auto_id }}">longitude</label>
                    {{ form.longitude }}
                </div>
            </div>


            <div class="left-side">
                    {{ form.name}}
                    <p class="copy">address or latitude/longitude</p>
                    {{ form.address }}
                    {{ form.city_and_state }}
                    {{ form.zip }}
            </div>
{#                    <p class="copy">What is it?</p>#}
{##}
{#                    <input type="hidden" value="{{ form.what_kind.value }}"#}
{#                           id="{{ form.what_kind.auto_id }}" name="{{ form.what_kind.name }}" />#}
{##}
{#                    <ul id="{{ form.what_kind.auto_id }}_choicefield">#}
{#                        {% for choice in form.what_kind.field.choices %}#}
{#                            <li {% if forloop.counter0 == 4 %}class="second"{% endif %}>#}
{#                                {% with maki=makis|getdict:choice.1 %}#}
{#                                    <a href="#"#}
{#                                       data-value="{{ choice.0 }}"#}
{#                                       class="{% if form.what_kind.value == choice.0|stringformat:'s' %}selected{% endif %} maki-icon {{ maki }}">#}
{##}
{#                                    </a>#}
{#                                {% endwith %}#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}


                    <p class="copy clr">about</p>
                    {{ form.about|add_class:"about-text" }}
                <div class="pos-rel">
{#                    <ul class="save-edit-list">#}
{#                        <li>#}
{#                            <a class="submit-type" href="#">edit</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="submit-type" href="#">save</a>#}
{#                        </li>#}
{#                    </ul>#}

                </div>

                    <p class="copy">news</p>
            <div class="news pos-rel">
                <ul class="save-edit-list">
                    <li>
                        <a class="submit-type" href="#">edit</a>
                    </li>
                    <li>
                        <a class="submit-type" href="#">save</a>
                    </li>
                </ul>
            </div>
                    <div id="add-news-image">

                    </div>
                    {{ form.news|add_class:"news-text" }}

                    <p class="copy">pictures</p>
                    {% for picture in form.pictures %}
                        <div class="picture">

                        </div>
                    {% endfor %}
                    <div class="picture">

                    </div>

                    <div style="clear:both;"></div>

                    {% if update %}
                        <input type="submit" class="submit" value="update location"/>
                    {% else %}
                    <input type="submit" class="submit" value="create location"/>
                    {% endif %}
        </form>
    </div>
{% endblock %}

{% block footerscripts %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.js'></script>
    <script src='{{ STATIC_URL }}js/leaflet/leaflet.draw.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-mapbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-feature.js"></script>

    {% if organization %}
        <script type="text/javascript">
            var neighborhoods = neighborhoods || {};

            $(document).ready(function() {
                $.ajax({
                    url: "{{ organization.neighborhood.get_api_detail_url }}",
                    dataType: "json",
                    success: function(d) {
                        var hoods = L.geoJson(d,{
                            style: function (feature) {
                                return {stroke: false, fill: true};
                            },
                            onEachFeature: function (feature, layer) {
                                neighborhoods[feature.id] = {layer: layer,
                                    feature: feature};
                            }
                        }).addTo(map);

                        map.fitBounds(neighborhoods[{{ organization.neighborhood.id }}].layer);
                        hoods.eachLayer(function(e) {
                            var marker = e;
    //            var feature = marker.feature;
    //            marker.setIcon(L.icon(feature.properties.icon));
                        });
                    }
                });
            });

        </script>
    {% endif %}
    {% if form.latitude.value and form.longitude.value %}

        <script type="text/javascript">
            TB.Map.Draw.featureGroup.addLayer(L.mapbox.markerLayer({
                // this feature is in the GeoJSON format: see geojson.org
                // for the full specification
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    // coordinates here are in longitude, latitude order because
                    // x, y is the standard for GeoJSON and many formats
                    coordinates: [{{ form.longitude.value }}, {{ form.latitude.value }}]
                },
                properties: {
{#                    title: 'A Single Marker',#}
{#                    description: 'Just one of me',#}
                    // one can customize markers by adding simplestyle properties
                    // http://mapbox.com/developers/simplestyle/
                    {#                    'marker-size': 'large',#}
                    {#                    'marker-color': '#f0a'#}
                }
            }));
        </script>
    {% endif %}
{% endblock %}