{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Organization Detail
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/organization/detail.css" />
{% endblock %}

{% block bodyid %}organization-detail{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
            <div id="organization-logo">
                <img src="{{ organization.get_logo }}" alt=""/>
            </div>

        {% if organization.curator == request.user or request.user.is_superuser %}
            <h1 style="margin:0px;"><a href="{% url 'organization_update' organization.id %}">admin</a></h1>
        {% endif %}
        <div class="row title">
                <div id="header">{{ organization.title }}
                    {% include "widgets/sharing.html" %}
                </div>
        </div>

        <p id="cta">join our organization, share your ideas, explore your organization, and view our ideas</p>

            <div class="actions">
                {% if request.user in organization.members.all %}
                    <a href="{% url 'organization_join' object.id %}" class="orange s-button activated">
                        joined
                    </a>
                {% else %}
                    <a href="{% url 'organization_join' object.id %}" class="orange s-button">
                        join
                    </a>
                {% endif %}

                <a href="{{ object.list_ideas_url }}" class="orange s-button">ideas</a>
                <a href="{{ object.get_explore_link }}" class="blue s-button">explore</a>
                <a href="{% url 'addidea' object.place.name.lower object.title %}" class="blue s-button">add</a>
                <div style="clear:both;"></div>
            </div>

    {#    About #}
            <div id="about" class="large-blue">
                {{ organization.about }}
            </div>

           {% include "widgets/sharing.html" %}

        {#    News #}
        <div class="news-label">news</div>
        <div id="news">
                {% include 'widgets/news_feed.html' %}
        </div>


        {#    Pictures #}
        <div class="picture-label">pictures</div>
        <div id="pictures">
            {% for picture in organization.organizationimage_set.all %}
                <img src="{{ picture.img.url }}" alt=""/>
            {% endfor %}
        </div>

        {#    Partners #}
        <div class="partner-label">partners</div>
        <div id="partners">
            {% for partner in organization.partners.all %}
                <img src="{{ partner.img.url }}" alt=""/>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-listidea.js"></script>
{% endblock %}