{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}
    Organization Detail
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/organization/detail.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/swiper.css" />
    <script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
{% endblock %}

{% block bodyid %}organization-detail{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
            <div id="organization-logo">
                <img src="{% thumbnail organization.logo 300x300 %}" alt=""/>
            </div>

{#        {% if request.user in organization.curators.all or request.user.is_superuser %}#}
{#            <h1 style="margin:0px;"><a href="{{ organization.get_update_url }}">admin</a></h1>#}
{#        {% endif %}#}
        <div class="row title">
                <div id="header">
                    <ul id="{{ id }}" class="sharing">
                        <li><span>share</span></li>
                        {% if organization.facebook_url %}
                        <li><a class="org-fb" href="{{ organization.facebook_url }}" target="_blank"></a></li>
                        {% endif %}
                        {% if organization.twitter_url %}
                        <li><a class="org-twitter" href="{{ organization.twitter_url }}" target="_blank"></a></li>
                        {% endif %}
                        {% if organization.linkedin_url %}
                        <li><a class="org-linkedin" target="_blank" href="{{ organization.linkedin_url }}"></a></li>
                        {% endif %}
                    </ul>
                    {{ organization.title }}

                </div>
        </div>

        <p id="cta">join our organization, share your ideas, explore your organization, and view our ideas</p>
    
        <ul id="org-agg">
            <li><b>{{ organization.total_projects|default:"0" }}</b> projects</li>
            <li><b>{{ organization.total_ideas|default:"0" }}</b> ideas</li>
            <li><i class="support-star"></i><b>{{ organization.total_idea_supported|default:"0" }}</b> idea support</li>
            <li><b>{{ organization.total_members|default:"0" }}</b> community members</li>
            <li></li>
        </ul>

            <div class="actions">
                {% if request.user in organization.members.all %}
                    <a href="{{ organization.get_join_url }}" class="orange s-button activated">
                        joined
                    </a>
                {% else %}
                    <a href="{{ organization.get_join_url }}" class="orange s-button">
                        join
                    </a>
                {% endif %}

                <a href="{{ object.list_ideas_url }}" class="orange s-button">ideas</a>
                <a href="{{ object.get_explore_link }}" class="blue s-button">explore</a>
                <a href="{{ object.add_idea_url }}" class="blue s-button login-required">add</a>
                <div style="clear:both;"></div>
            </div>

    {#    About #}
            <div id="about" class="large-blue">
                {{ organization.about }}
            </div>

        {% with fb=organization.get_fb_sharing twit=organization.get_twit_sharing id="about-sharing" %}
           {% include "widgets/sharing.html" %}
        {% endwith %}

        {#    News #}
        {% with news_feed=object.get_news_items  %}
            {% if news_feed %}
                <div class="news-label small-heading">news</div>
                <div id="news">

                        {% include 'widgets/news_feed.html' %}
                </div>
            {% endif %}
        {% endwith %}



        {#    Pictures #}
        {% if organization.organizationimage_set.all %}
            <div class="picture-label small-heading">pictures</div>
            <div id="pictures">
                {% for picture in organization.organizationimage_set.all %}
                    <a class="image-popup-no-margins" href="{{ picture.img.url }}">
                        <img src="{% thumbnail picture.img 200x200 %}" alt=""/>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {#    Partners #}
        {% if organization.partners.all %}
            <div class="partner-label small-heading">partners</div>
            <div id="partners">
                {% for partner in organization.partners.all %}
                    <a href="{{ partner.link }}" target="_blank">
                        <img src="{% thumbnail partner.img 200x200 %}" alt=""/>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-listidea.js"></script>
{% endblock %}