@import "general";

a.orange {
  @include orange-gradient-button;
  @include white-museo;

  &.supporting.activated,
  &.s-button.activated {
    color: #f9c98c; /* text color */
  }
}

.blue {
  @include  blue-gradient-button;
  &:hover {
    @include  blue-gradient-button-hover;
  }
}

.buttonize {
  display:block;
  float:left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}


