@import "compass";

.comments {
  clear: both;
  ul {
    list-style-type: none;
  }

  .comment {
    &.bubbleleft {
      img.talkbubb {
        float: left;
      }

      .comment_text {
        margin-left: 6%;
      }
    }

    &.bubbleright {
      img.talkbubb {
        float: right;
      }

      .comment_text {
        margin-right: 6%;
      }
    }
  }
  .comment_li {
    margin-top: 10px;
  }

  .comment_text {
    border: 1px solid #d8f1f6;
    border-radius: 5px;
    color: #adafb3; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 12px;
    font-style: italic;
    text-indent: 10px;
    width: 94%;
    //float: left;
    padding: 5px 0px;

    .comment_meta {
      float: right;
      margin-right: 5px;
    }
  }
}

.comment_reply_link {
  //display: block;
  //width: 11px;
  //height: 10px;
  //background: image-url('reply-arrow.png');
}

.comments_length {
  color: #53b8d1; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;

  p {
    float: left;
    margin-left: 40px;
    
    &:first-child {
      margin-left: 0;
    }
  }
}

.comment_support {
  color: #f37d23; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  font-style: normal;

  img {
    vertical-align: initial;
    margin-right: 3px;
  }
}