@import "general";
#filtering {
  @include header-blue-museo;
  font-size: 14px;
  width: 570px;
  //margin: 0 auto 20px;
  margin: 0 auto 0px;
}

.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  @include header-blue-museo;
  font-size: 14px;
}

#order, #order_chosen {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

#sort_by {
  vertical-align: super;
}