@import "general";
#filtering {
  @include header-blue-museo;
  font-size: 14px;
  width: 570px;
  //margin: 0 auto 20px;
  margin: 0 auto 10px;

  @include media($mobile) {
    width: 100%;
  }
}

.chzn-container-single .chzn-single,
.chosen-container-single .chzn-default,
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  @include header-blue-museo;
  font-size: 14px;
}

#order, #order_chosen {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;

  @include media($mobile) {
    width: 100%;
    margin: 5px 0px;
  }
}

#id_where {
  @include media($mobile) {
    width: 100%;
    margin: 0px;
  }
}

.chosen-container {
  @include media($mobile) {
    margin-bottom: 5px;
  }
}
.chzn-container-single .chzn-single,
.chosen-container-single .chosen-single {
  @include media($mobile) {
    background-image: none;
    background: #ffffff;
    border: 0px;
    @include border-radius(0px);
    //($color, $hoff, $voff, $blur, $spread, $inset)
    @include single-box-shadow(#FFF, 0px);
    width: 100%;
  }
}



#sort_by {
  vertical-align: super;

  @include media($mobile) {
    display: block;
    padding:10px;
    background-color: #ffffff;
  }
}