@import "compass";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// General settings
$tb_link_blue: #4585c3;

$tb-header_blue: #53b8d1; /* text color */

$tb-orange: #f3812b;

$tb-baby-blue: #daf3f8;

$tb-beige: #fef8ee;

$tb-dark-gray: #58595a;

$tb-sky-blue: #6fc4d8;

@mixin museo {
  font-family: "Museo Sans", sans-serif;
}

@mixin blue-museo-link {
  color: $tb_link_blue; /* text color */
  @include museo;
}

@mixin blue-museo {
  color: $tb_link_blue; /* text color */
  @include museo;
}

@mixin white-museo {
  color: #fff; /* text color */
  @include museo;
}

@mixin header-blue-museo {
  color: $tb-header_blue; /* text color */
  @include museo;
}

@mixin gray-museo {
  color: #6d6d6d; /* text color */
  @include museo;
}

@mixin black-museo {
  color: #000; /* text color */
  @include museo;
}

@mixin dark-gray-museo {
  color: $tb-dark-gray;
  @include museo;
}

@mixin bg-image($img) {
  background: image-url($img);
  width: image-width($img);
  height: image-height($img);
  display: block;
}

@mixin mobile-bg-image($img) {
  background: image-url($img);
  width: image-width($img) / 2;
  height: image-height($img) / 2;
  background-size: 100%;
  display: block;
}

@mixin orange-gradient-button {
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(bottom, $tb-orange 0%, #f9a533 100%)); // layer fill content
  border: none;
  @include white-museo;
  display: block;
  //font-size: 16px;
}

@mixin blue-gradient-button {
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(top,  #8dd9f2 0%,#5fd2e7 28%,#30cae1 38%,#4cc6de 100%)); // layer fill content
  border: none;
  @include white-museo;
  display: block;
  //font-size: 16px;
}

@mixin orange-gradient-button {
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(bottom, $tb-orange 0%, #f9a533 100%)); // layer fill content
  border: none;
  @include white-museo;
  display: block;
  //font-size: 16px;
}

@mixin orange-gradient-button-hover {
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(bottom, #FF9666 0%, #FFB045  100%)); // layer fill content
  //font-size: 16px;
}

@mixin blue-gradient-button-hover {
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(top,  #91def7 0%, #60dff4 28%, #35dff8 38%, #52e5fe 100%)); // layer fill content
//font-size: 16px;
}

@mixin orange-gradient-button-explore {
  display: block;
  @include border-radius(10px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include background-image(linear-gradient(bottom, #e57f4f 0%, #f9a533 100%)); // layer fill content
  color: #fff; // text color
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.small-heading {
  color: #9d9d9d; /* text color */
  @include museo;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}


