ol.slats {
  list-style-type: none;

  li {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    //border-bottom: 1px solid #eee;
    &:last-child {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }
      h3 {
        color: #53b8d1; /* text color */
        @include museo;
        font-size: 19px;
        line-height: 19px;
        margin: 0;
        .date {
          margin-left: 15px;
        }
      }
      img {
        float: left;
        margin: 0 10px 0 0;
        padding: 4px;
        height: 80px;
        width: 80px;
        //border: 1px solid #eee;
      }
      //&:hover img {
      //  background: #eee;
      //}
      p {
        margin: 0 0 0 76px;
        line-height: 1.4;

        color: #6c6d70; /* text color */
        font-family: "Helvetica";
        font-size: 14px;


        span.meta {
          display: block;
          font-size: 12px;
          color: #999;
        }
      }
  }
}


#news {
  a.changer {
    display: inline-block;
    height: 200px;
    width: 40px;
    vertical-align: top;
    padding-top: 70px;

    div {
      width: image-width('orange-arrow-left.png');
      height:  image-height('orange-arrow-left.png');
    }

    &.left-news {
      div {
        background:image-url('orange-arrow-left-desat.png');
      }

      &.has {
        div {
          background:image-url('orange-arrow-left.png');
        }
      }
    }

    &.right-news {
      div {
        background:image-url('orange-arrow-right-desat.png');
      }

      &.has {
        div {
          background:image-url('orange-arrow-right.png');
        }
      }
    }
  }
  div.swiper-container {
    display: inline-block;

  }
}
//@media screen and (max-width: 700px) {
//  ol.slats li a {
//    img {
//      display: block;
//      float: none;
//      margin: 0 0 5px 0;
//    }
//    p {
//      margin: 0;
//    }
//  }
//}