@import "general";

.sharing {
  list-style-type: none;
  display: inline-block;
  li {
    display: inline-block;

    span {
      color: #7b7b7b; /* text color */
      @include museo;
      font-size: 10px;
      vertical-align: super;

    }
    a {

      display: block;

      &.share-fb {
        background: image-url('small-blue-facebook.png') no-repeat;
        background-size: 100%;
        width: 18px;
        height: 15px;
      }

      &.share-twitter {
        background: image-url('small-blue-twitter.png') no-repeat;
        background-size: 100%;
        width: 15px;
        height: 15px;
      }

      &.share-linkedin {
        background: image-url('small-blue-linkedin.png') no-repeat;
        background-size: 100%;
        width: 15px;
        height: 15px;
      }
    }
  }
}
