{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}
{% load threadedcomments_tags %}
{% load ideacountables %}

{% block title %}
    Idea List
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/idea/detail.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="idea-wrapper">
    <div class="row">
        <div class="large-5 columns">
            <span class="support-number">{{ idea.support_count }}</span> support this
        </div>
        <div class="large-7 small-6 columns no-padding">

            <a class="supporting orange {% if idea|is_supported_by_user:user %}activated{% endif %}" data-id="{{ idea.id }}" href="{{ idea.get_support_url }}"><span class="unsupported"><i></i>support</span><span class="supported">supported</span></a>

{#            {% if supported %}#}
{#                <a class="supporting orange activated" href="{% url 'support_idea_from_detail' idea.id %}">supported</a>#}
{#            {% else %}#}
{#                <a class="supporting orange" href="{% url 'support_idea_from_detail' idea.id %}">support</a>#}
{#            {% endif %}#}
            <a class="dislike blue" href="#">dislike</a>

            {% include "widgets/sharing.html" %}
        </div>
    </div>

    <div class="row extrapad">
        <div class="large-12 columns">We want <b>{{ idea.name }}</b> in <b>{{ idea.where.name }}</b>, <b>{{ idea.where.city }}</b></div>
    </div>
    <div class="row  extrapad">
        <div class="large-12 columns">It's a <b>{{ idea.what_kind }}</b> for <b>{{ idea.what_for }}</b></div>
    </div>
    <div class="row">
        <div class="large-12 columns">I imagine something like this:</div>
    </div>
    <div class="row extrapad">
        <div class="large-12 columns"><b>{{ idea.description }}</b></div>
    </div>
    <div class="row">
        <div class="large-12 columns">Links:

        {% for link in idea.idealink_set.all %}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="large-12 columns news">news </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="large-12 columns">#}
{#            {% for news in news_feed %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}


    <div class="row">
        <div class="large-12 columns">
            {% for picture in pictures %}
                <img src="{{ picture.img.url }}" alt=""/>
            {% endfor %}
        </div>
    </div>


{##}
{#    <div class="row">#}
{#        <div class="large-3 small-2 columns">#}
{#            <div id="add-news-image">#}
{##}
{#            </div>#}
{#        </div>#}
{#        <div class="large-8 small-8 columns">#}
{#            {{ form.news|add_class:"news-text" }}#}
{#        </div>#}
{#        <div class="large-1 small-1 columns pos-rel">#}
{##}
{#        </div>#}
{#    </div>#}

{#    Comments #}
        <div class="comments_wrapper" id="comments">
            {% render_comment_list for idea %}

            <div id="wrap_write_comment">
                {% render_comment_form for idea %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-listidea.js"></script>


{#    Comments javascript #}
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
            $('.submit_comment').on('click', function(e){
                e.preventDefault();
                $(e.target).parent().submit();
            });
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
            $('.submit_comment').on('click', function(e){
                e.preventDefault();
                $(e.target).parent().submit();
            });
        })

    </script>
{% endblock %}