<div class="idea-cap">
    <div class="left-idea-cap">
        <a href="{% url 'idea_detail' idea.where.community.state idea.where.community.city idea.where.community.name idea.id %}"><p>{{ idea.name }} in {{ idea.where.name }} for {{ idea.what_for }}</p></a>
        <a class="supporting" data-id="{{ idea.id }}" href="#"></a>
        <a class="commenting" data-id="{{ idea.id }}" href="#"></a>
        <span>share</span>
        <ul class="sharing">
            <li><a class="fb-idea" href="#facebook"></a></li>
            <li><a class="fb-twitter" href="#twitter"></a></li>
            <li><a class="fb-linkedin" href="#linkedin"></a></li>
        </ul>
    </div>
    <div class="right-idea-cap">
        <table>
            <tr>
                <td>{{ idea.support_count }}</td>
                <td>supporters</td>
            </tr>
            <tr>
                <td>{{ idea.comment_count }}</td>
                <td>comments</td>
            </tr>
            <tr>
                <td></td>
                <td>added {{ idea.get_days_since_added }} days ago</td>
            </tr>
        </table>
    </div>
</div>