{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}

{% block title %}
    Idea List
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css-back/idea/list.css" />
{% endblock %}

{% block bodyid %}home{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}

    {% for idea in idea_list %}
        <div class="idea-cap">
            <div class="left-idea-cap">
                {{ idea.name }} in {{ idea.where.name }} for {{ idea.what_for }}
            </div>
            <div class="right-idea-cap">
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-addidea.js"></script>
{% endblock %}