/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../scss/idea/_idea.scss */
.idea-cap {
  color: #7a7a7a;
  /* text color */
  position: relative;
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  width: 576px;
  height: 113px;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-image: -webkit-linear-gradient(left, #daf3f8 80%, #fef8ee 80%);
  background-image: linear-gradient(to right, #daf3f8 80%, #fef8ee 80%);
}
@media screen and (max-width: 480px) {
  /* line 7, ../../scss/idea/_idea.scss */
  .idea-cap {
    width: 100%;
    background-image: none;
    background-color: #daf3f8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}
/* line 30, ../../scss/idea/_idea.scss */
.idea-cap a {
  text-decoration: none;
}
/* line 33, ../../scss/idea/_idea.scss */
.idea-cap a.orange {
  color: #ffffff;
}
/* line 35, ../../scss/idea/_idea.scss */
.idea-cap a.orange:visited {
  color: #ffffff;
}
/* line 41, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap {
  padding-top: 25px;
  margin-left: 20px;
  width: 440px;
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 41, ../../scss/idea/_idea.scss */
  .idea-cap .left-idea-cap {
    margin-left: 0px;
    width: 320px;
    background-color: #daf3f8;
  }
}
/* line 53, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap p {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  /* line 53, ../../scss/idea/_idea.scss */
  .idea-cap .left-idea-cap p {
    text-indent: 20px;
  }
}
/* line 63, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting {
  width: 75.5px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
}
/* line 72, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting i {
  background-image: url('../../images/white-star.png?1380669755');
  background-repeat: no-repeat;
  background-position: 15% 45%;
  padding-left: 15px;
}
/* line 80, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting .unsupported {
  display: block;
  font-size: 11px;
}
/* line 84, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting .supported {
  display: none;
  font-size: 11px;
}
/* line 91, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting.activated .unsupported {
  display: none;
  font-size: 11px;
}
/* line 95, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .supporting.activated .supported {
  display: block;
  font-size: 11px;
}
/* line 102, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .commenting {
  width: 65px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 11px;
}
/* line 121, ../../scss/idea/_idea.scss */
.idea-cap .left-idea-cap .sharing {
  display: inline-block;
  list-style-type: none;
  margin-top: 0px;
  float: none;
}
/* line 135, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap {
  position: absolute;
  list-style-type: none;
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  color: #797878;
  /* text color */
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 0px;
  right: 0px;
  top: 0px;
}
/* line 148, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap li {
  margin-top: 5px;
  line-height: 1.3em;
}
/* line 152, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap li:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 480px) {
  /* line 135, ../../scss/idea/_idea.scss */
  .idea-cap .right-idea-cap {
    position: relative;
    padding-top: 0px;
    width: 320px;
    background-color: #fef8ee;
    padding: 20px;
  }
  /* line 166, ../../scss/idea/_idea.scss */
  .idea-cap .right-idea-cap li {
    display: inline-block;
    width: 100px;
  }
}
/* line 172, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .emphasis {
  color: #f37d23;
  /* text color */
  background: #FFF;
  border-radius: 7px;
  padding: 2px 7px;
}
/* line 180, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .support-star {
  background-image: url('../../images/orange-star.png?1380665340');
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 15% 45%;
  padding-left: 15px;
}
/* line 188, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .support-star-orange {
  width: 12px;
  height: 10px;
  background: url('../../images/big-orange-star.png?1397523106');
  background-size: 100%;
  margin-top: 6px;
  margin-right: 3px;
  display: block;
  float: left;
}
/* line 199, ../../scss/idea/_idea.scss */
.idea-cap .right-idea-cap .comments-bubble {
  background-image: url('../../images/orange-comment.png?1390687077');
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 15% 45%;
  padding-left: 15px;
}

@media screen and (max-width: 480px) {
  /* line 211, ../../scss/idea/_idea.scss */
  .idea-interactions {
    margin: 20px auto;
    width: 250px;
  }
}

/* line 222, ../../scss/idea/_idea.scss */
.supporting,
.dislike,
.commenting,
.flag {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 232, ../../scss/idea/_idea.scss */
a.flag {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: inline-block;
  float: none;
  vertical-align: middle;
  border-radius: 7px;
  margin-left: 5px;
}
/* line 241, ../../scss/idea/_idea.scss */
a.flag img {
  max-width: 70%;
  max-height: 70%;
  vertical-align: middle;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 3, ../../scss/partials/_buttons.scss */
a.orange {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 8, ../../scss/partials/_buttons.scss */
a.orange.supporting.activated, a.orange.s-button.activated {
  color: #f9c98c;
  /* text color */
}
/* line 12, ../../scss/partials/_buttons.scss */
a.orange:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #ff9666 0%, #ffb045 100%);
  background-image: linear-gradient(to top, #ff9666 0%, #ffb045 100%);
}

/* line 17, ../../scss/partials/_buttons.scss */
.blue {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
}
/* line 19, ../../scss/partials/_buttons.scss */
.blue:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #91def7 0%, #60dff4 28%, #35dff8 38%, #52e5fe 100%);
  background-image: linear-gradient(to bottom, #91def7 0%, #60dff4 28%, #35dff8 38%, #52e5fe 100%);
}

/* line 24, ../../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 3, ../../scss/partials/_sharing.scss */
.sharing {
  list-style-type: none;
  display: inline-block;
}
/* line 6, ../../scss/partials/_sharing.scss */
.sharing li {
  display: inline-block;
}
/* line 9, ../../scss/partials/_sharing.scss */
.sharing li span {
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  vertical-align: super;
}
/* line 16, ../../scss/partials/_sharing.scss */
.sharing li a {
  display: block;
}
/* line 20, ../../scss/partials/_sharing.scss */
.sharing li a.share-fb {
  background: url('../../images/small-blue-facebook.png?1390687080') no-repeat;
  background-size: 100%;
  width: 18px;
  height: 15px;
}
/* line 27, ../../scss/partials/_sharing.scss */
.sharing li a.share-twitter {
  background: url('../../images/small-blue-twitter.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}
/* line 34, ../../scss/partials/_sharing.scss */
.sharing li a.share-linkedin {
  background: url('../../images/small-blue-linkedin.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}

/* line 1, ../../scss/partials/_news_feed.scss */
ol.slats {
  list-style-type: none;
}
/* line 4, ../../scss/partials/_news_feed.scss */
ol.slats li {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}
/* line 8, ../../scss/partials/_news_feed.scss */
ol.slats li:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
/* line 13, ../../scss/partials/_news_feed.scss */
ol.slats li h3 {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 19px;
  line-height: 19px;
}
/* line 19, ../../scss/partials/_news_feed.scss */
ol.slats li h3 .date {
  margin-left: 15px;
}
/* line 23, ../../scss/partials/_news_feed.scss */
ol.slats li img {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  height: 80px;
  width: 80px;
}
/* line 34, ../../scss/partials/_news_feed.scss */
ol.slats li p {
  margin: 0 0 0 76px;
  line-height: 1.4;
  color: #6c6d70;
  /* text color */
  font-family: "Helvetica";
  font-size: 11px;
}
/* line 43, ../../scss/partials/_news_feed.scss */
ol.slats li p span.meta {
  display: block;
  font-size: 12px;
  color: #999;
}

/* line 2, ../../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 13, ../../scss/location/detail-mobile.scss */
.submit {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  height: 33px;
  width: 322px;
  float: right;
  margin-right: 120px;
}
/* line 20, ../../scss/location/detail-mobile.scss */
.submit:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #ff9666 0%, #ffb045 100%);
  background-image: linear-gradient(to top, #ff9666 0%, #ffb045 100%);
}

/* line 26, ../../scss/location/detail-mobile.scss */
#form-wrapper {
  width: 600px;
  margin: 0 auto;
}

/* line 34, ../../scss/location/detail-mobile.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
}

/* line 41, ../../scss/location/detail-mobile.scss */
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  min-height: 200px;
  max-width: 100%;
}

/* line 49, ../../scss/location/detail-mobile.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url('../../images/polaroid-camera-composite.png?1390687080');
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 59, ../../scss/location/detail-mobile.scss */
form .row .row.second-row {
  margin-top: 15px;
}

/* line 63, ../../scss/location/detail-mobile.scss */
.copy {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 0px;
}

/* line 71, ../../scss/location/detail-mobile.scss */
#id_what_for {
  width: 228px;
}

/* line 76, ../../scss/location/detail-mobile.scss */
.chosen-container-single .chosen-default, .chosen-container-single .chosen-single, .chosen-container-single .chosen-drop .chosen-results li {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}
/* line 80, ../../scss/location/detail-mobile.scss */
.chosen-container-single .chosen-default {
  color: #bbb;
}
/* line 83, ../../scss/location/detail-mobile.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../../images/orange-arrow.png?1378769738') no-repeat 0 6px;
}

/* line 95, ../../scss/location/detail-mobile.scss */
.auto-hint {
  color: #aaa;
}

/* line 99, ../../scss/location/detail-mobile.scss */
#map {
  width: 100%;
  height: 265px;
}

/* line 104, ../../scss/location/detail-mobile.scss */
#header {
  background: #33bdd4;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  line-height: 33px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 0px;
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
}

/* line 116, ../../scss/location/detail-mobile.scss */
.about {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin: 20px 0;
  font-size: 38px / 2;
}

/* line 122, ../../scss/location/detail-mobile.scss */
#news, #pictures, #partners {
  min-height: 100px;
}

/* line 126, ../../scss/location/detail-mobile.scss */
#pictures {
  width: 270px;
}
/* line 128, ../../scss/location/detail-mobile.scss */
#pictures > div {
  float: left;
  width: 80px;
  height: 79px;
  border-radius: 10px;
  margin-left: 10px;
}
/* line 135, ../../scss/location/detail-mobile.scss */
#pictures > div:first-child {
  margin-left: 0px;
}
/* line 139, ../../scss/location/detail-mobile.scss */
#pictures > div .cloak {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  line-height: 80px;
  text-align: center;
}
/* line 146, ../../scss/location/detail-mobile.scss */
#pictures > div .cloak img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 155, ../../scss/location/detail-mobile.scss */
.idea-details-list {
  float: right;
  padding-right: 20px;
  width: 150px;
}
/* line 159, ../../scss/location/detail-mobile.scss */
.idea-details-list li {
  margin: 10px auto;
  font-size: 14px;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  color: #4585c3;
}
