/* line 1, ../../scss/location/list.scss */
#illustration {
  background: url(../../images/illustration-ship.png) no-repeat no-repeat;
  background-size: 100%;
  height: 233px;
  width: 930px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* line 10, ../../scss/location/list.scss */
.submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  height: 33px;
  width: 322px;
  color: #fff;
  font-family: 'MuseoSans';
  float: right;
  margin-right: 120px;
}

/* line 33, ../../scss/location/list.scss */
#form-wrapper {
  width: 600px;
  margin: 0 auto;
}

/* line 38, ../../scss/location/list.scss */
#add-photo {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url(../../images/add-photo.png);
  background-repeat: no-repeat;
  background-position: 57px 57px;
}

/* line 53, ../../scss/location/list.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
}

/* line 60, ../../scss/location/list.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 67, ../../scss/location/list.scss */
#id_captcha_choicefield {
  list-style: none;
}

/* line 71, ../../scss/location/list.scss */
#id_captcha_choicefield li {
  display: inline-block;
  margin-left: 60px;
}

/* line 76, ../../scss/location/list.scss */
#id_captcha_choicefield li:first-child {
  margin-left: 15px;
}

/* line 80, ../../scss/location/list.scss */
#captcha-question {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 87, ../../scss/location/list.scss */
.terms-and-conditions {
  color: #727171;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* line 94, ../../scss/location/list.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 104, ../../scss/location/list.scss */
form .row .row.second-row {
  margin-top: 15px;
}

/* line 108, ../../scss/location/list.scss */
.copy {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 0px;
}

/* line 117, ../../scss/location/list.scss */
#id_what_for {
  width: 228px;
}

/* line 122, ../../scss/location/list.scss */
.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #6d6d6d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

/* line 128, ../../scss/location/list.scss */
.chosen-container-single .chosen-default {
  color: #bbb;
}

/* line 132, ../../scss/location/list.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../images/orange-arrow.png) no-repeat 0 6px;
}

/* line 139, ../../scss/location/list.scss */
.chosen-container {
  margin-bottom: 15px;
}

/* line 143, ../../scss/location/list.scss */
.auto-hint {
  color: #aaa;
}
