@import "partials/general";
@import "idea/idea";
@import "partials/buttons";
@import "partials/sharing";
@import "partials/chosen";
@import "partials/comments";
@import "partials/filtering";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";



#illustration {
//    background-image: image-url('illustration-ship.png');

  @include media($mobile) {
    background-image: none;
    height: auto;
  }
}

.copy {
    @include gray-museo;
    font-size: 15px;
    text-align: left;
    text-indent: 10px;
    margin-bottom: 0px;
}

#id_what_for {
    width: 228px;
}


#idea-wrapper {
  width: 600px;
  margin: 0 auto;
  @include gray-museo;
  font-size: 38px / 2;

  b {
    @include header-blue-museo;
  }

}

.row {
  margin-bottom: 5px;
  &.extrapad {
    margin-bottom: 20px;
  }
}


.support {
  color: $tb-orange;
}

#id_comment {
  border: 1px solid #d8f1f6;
  border-radius: 10px;
}


.chzn-container-single .chzn-search {
  display:none;
}

.idea-details-list {
 float: right;
 padding-right: 20px;
  width: 150px;
  li {
    margin: 10px auto;
    font-size: 14px;
    @include header-blue-museo;
    color: $tb_link_blue;
  }
}

a.orange {
  width: 200px;
  padding: 10px;
  margin: 20px auto 0;
  
  &.update {
    width: 75px;
    margin: 0 20px 0 0;
    padding:0;
  }
}

.buttonize.btn-danger {
  padding: 0;
}


#news-wrapper {
  width: 600px;
  margin: 0 auto;

  p {
    margin-top: 10px;
  }

}


.delete-form {
  display: inline-block;
  width: 300px;
}

ol.slats li {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
  &:last-child {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
  a {
    h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.1;
    }
    img {
      float: left;
      margin: 0 10px 0 0;
      padding: 4px;
      border: 1px solid #eee;
    }
    &:hover img {
      background: #eee;
    }
    p {
      margin: 0 0 0 76px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      span.meta {
        display: block;
        font-size: 12px;
        color: #999;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  ol.slats li a {
    img {
      display: block;
      float: none;
      margin: 0 0 5px 0;
    }
    p {
      margin: 0;
    }
  }
}

.no-news {
  font-style: italic;
}

.add-news {
  text-align: center;
}