/* line 1, ../scss/nav.scss */
#illustration {
  background: url(../images/thoughtbubble-illustration.jpg) no-repeat no-repeat;
  background-size: 100%;
  height: 695px;
  width: 930px;
  margin: 0 auto;
}

/* line 10, ../scss/nav.scss */
#nav,
#login-nav {
  color: #4585c3;
  /* text color */
  font-family: "MuseoSans", sans-serif;
  font-size: 18px;
  display: inline;
  list-style-type: none;
  float: right;
}
/* line 18, ../scss/nav.scss */
#nav li,
#login-nav li {
  display: inline-block;
  margin-top: 90px;
}

/* line 24, ../scss/nav.scss */
#login-nav {
  margin-right: 70px;
  display: block;
}

/* line 31, ../scss/nav.scss */
#nav li {
  margin-right: 50px;
}

/* line 37, ../scss/nav.scss */
#login-nav li {
  margin-right: 0px;
}

/* line 42, ../scss/nav.scss */
.scale {
  background: url(../images/scale-8.png) no-repeat no-repeat;
  background-size: 100%;
  height: 7px;
  width: 930px;
  margin: 0 auto;
}

/* line 50, ../scss/nav.scss */
#logo {
  margin: 35px 0 0 35px;
  width: 288px;
  height: 80px;
}

/* line 56, ../scss/nav.scss */
#primary-nav {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 27px;
  list-style-type: none;
  clear: both;
  margin: 40px auto 0;
  width: 300px;
}

/* line 67, ../scss/nav.scss */
#primary-nav li {
  display: inline-block;
}

/* line 72, ../scss/nav.scss */
#sub-footer {
  color: #4585c3;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 20px auto 0;
}
/* line 80, ../scss/nav.scss */
#sub-footer ul {
  list-style: none;
}
/* line 83, ../scss/nav.scss */
#sub-footer ul li {
  display: inline-block;
  margin-right: 25px;
  line-height: 25px;
}
/* line 94, ../scss/nav.scss */
#sub-footer p {
  text-align: center;
}

/* line 100, ../scss/nav.scss */
#primary-nav li {
  text-indent: 50px;
  margin-left: 50px;
  height: 38px;
}
/* line 105, ../scss/nav.scss */
#primary-nav li.icon-explore {
  background: url(../images/button-explore.png) no-repeat;
  background-position: 0 0;
}
/* line 109, ../scss/nav.scss */
#primary-nav li.icon-explore:hover {
  background-position: 0 -42px;
}
/* line 114, ../scss/nav.scss */
#primary-nav li.icon-add {
  background: url(../images/button-add.png) no-repeat;
}
/* line 118, ../scss/nav.scss */
#primary-nav li:first-child {
  margin-left: 0px;
}

/* line 125, ../scss/nav.scss */
#login-nav li:first-child {
  background-image: url(../images/icon-person.png);
  background-repeat: no-repeat;
  text-indent: 15px;
  background-position-y: 50%;
}

/* line 132, ../scss/nav.scss */
#home-container {
  width: 930px;
  margin: 0 auto;
}

/* line 138, ../scss/nav.scss */
form .row .columns.no-padding,
form .row .row .columns.no-padding {
  padding: 0;
}

/* line 142, ../scss/nav.scss */
#login-overlay {
  width: 415px;
  height: 430px;
  background-color: #49c4dd;
  color: #ffffff;
}

/* line 149, ../scss/nav.scss */
#login-overlay h6 {
  margin-top: 70px;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

/* line 156, ../scss/nav.scss */
#login-overlay .oauths {
  margin: 30px 0;
  height: 60px;
}

/* line 163, ../scss/nav.scss */
#login-overlay input[type="password"],
#login-overlay input[type="email"],
#login-overlay input[type="text"] {
  width: 365px;
  height: 45px;
  border-radius: 10px;
  font-family: 'MuseoSans';
  margin: 0 auto 10px;
}

/* line 171, ../scss/nav.scss */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 1px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* line 181, ../scss/nav.scss */
#login-overlay .submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  height: 45px;
  width: 365px;
  color: #fff;
  font-family: 'MuseoSans';
  margin: 0 auto;
  display: block;
  float: none;
}

/* line 204, ../scss/nav.scss */
.mfp-close-btn-in .mfp-close {
  color: #f47d21;
  background-color: #ffffff;
  width: 26px;
  height: 28px;
  opacity: 1;
  line-height: 28px;
  margin: 0px;
  top: 8px;
  right: 8px;
  border-radius: 7px;
  border: 1px solid #cccccc;
  font-weight: 100;
  font-size: 24px;
}

/* line 220, ../scss/nav.scss */
#forgot-password {
  display: block;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 100;
}

/* line 229, ../scss/nav.scss */
#footer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  width: 100%;
  background-color: #49c3dd;
  /* layer fill content */
  margin: 60px 0 0 0;
}
/* line 240, ../scss/nav.scss */
#footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 13px auto 10px;
}
/* line 245, ../scss/nav.scss */
#footer ul li {
  float: left;
  list-style-type: none;
  margin-left: 12px;
}
/* line 250, ../scss/nav.scss */
#footer ul li:first-child {
  margin-left: 0px;
  margin-right: 12px;
}

/* line 258, ../scss/nav.scss */
#footer-wrap {
  margin: 0 auto;
  width: 179px;
}

/* line 263, ../scss/nav.scss */
#footer-logout {
  background: url(../images/user-logout-icon.png) no-repeat 0;
  text-indent: 13px;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 13px;
}

/* line 272, ../scss/nav.scss */
#footer-twitter {
  background: url(../images/twitter-cloud.png);
  width: 23px;
  height: 22px;
  display: block;
}

/* line 279, ../scss/nav.scss */
#footer-facebook {
  background: url(../images/facebook-cloud.png);
  width: 28px;
  height: 19px;
  display: block;
}

/* line 286, ../scss/nav.scss */
#footer-linkedin {
  background: url(../images/linkedin-cloud.png);
  width: 22px;
  height: 21px;
  display: block;
}

/* line 294, ../scss/nav.scss */
#page-wrapper {
  margin: 0 auto;
  width: 600px;
}

/* line 299, ../scss/nav.scss */
h4.message {
  text-align: center;
}

/* line 303, ../scss/nav.scss */
#id_honeypot {
  display: none;
}
