/* line 3, ../scss/tb-main.scss */
h1 {
  color: #6fc4d8;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 50px;
  margin: 45px 0 0 0;
  font-weight: normal;
}

/* line 11, ../scss/tb-main.scss */
h2 {
  color: #8b8b8b;
  /* text color */
  font-family: "Helvetica";
  font-size: 19px;
  margin: 0 0 95px 0;
  font-weight: normal;
}

/* line 19, ../scss/tb-main.scss */
h3 {
  color: #6fc4d8;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 19px;
  margin: 45px 0 0 0;
  font-weight: normal;
}

/* line 27, ../scss/tb-main.scss */
p {
  color: #6c6d70;
  /* text color */
  font-family: "Helvetica";
  font-size: 14px;
}

/* line 33, ../scss/tb-main.scss */
#home-content {
  width: 500px;
  margin: 0 auto;
}

/* line 38, ../scss/tb-main.scss */
.disabled {
  color: #b0b0b0;
}

/* line 42, ../scss/tb-main.scss */
#toprule {
  position: absolute;
  width: 100%;
  height: 8px;
  background: url('../images/top-scale.png?1384992669') repeat-x;
}
