/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 7, ../scss/tb-privacy.scss */
h1,
h2,
h3 {
  font-size: 20px;
  font-weight: normal;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin: 10px 0;
}

/* line 14, ../scss/tb-privacy.scss */
h1 {
  font-size: 22px;
}

/* line 18, ../scss/tb-privacy.scss */
h3 {
  font-size: 18px;
}

/* line 24, ../scss/tb-privacy.scss */
h4,
h5,
h6 {
  font-size: 12px;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-weight: normal;
  margin: 10px 0;
}

/* line 31, ../scss/tb-privacy.scss */
h4 {
  font-size: 16px;
}

/* line 35, ../scss/tb-privacy.scss */
h5 {
  font-size: 14px;
}

/* line 40, ../scss/tb-privacy.scss */
p {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  line-height: 1.5em;
}

/* line 48, ../scss/tb-privacy.scss */
.middle-column {
  width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 48, ../scss/tb-privacy.scss */
  .middle-column {
    width: 100%;
  }
}
/* line 61, ../scss/tb-privacy.scss */
.middle-column li {
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  font-size: 12px;
  line-height: 19px;
}
/* line 67, ../scss/tb-privacy.scss */
.middle-column ol {
  list-style-type: decimal;
}

/* line 72, ../scss/tb-privacy.scss */
ul.bullet-list {
  list-style-type: disc;
  margin-left: 40px;
}
/* line 76, ../scss/tb-privacy.scss */
ul.bullet-list li {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

/* line 85, ../scss/tb-privacy.scss */
strong, b {
  font-weight: bold;
}

/* line 89, ../scss/tb-privacy.scss */
i {
  font-style: italic;
}

/* line 93, ../scss/tb-privacy.scss */
.clr {
  clear: both;
}

/* line 98, ../scss/tb-privacy.scss */
.join-button a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  float: right;
  display: block;
  padding: 5px;
  font-size: 14px;
}
/* line 106, ../scss/tb-privacy.scss */
.join-button a:visited {
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 109, ../scss/tb-privacy.scss */
.join-button a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 120, ../scss/tb-privacy.scss */
h2.join-button a {
  float: none;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
