/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 3, ../scss/tb-privacy.scss */
li {
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  font-size: 12px;
}

/* line 10, ../scss/tb-privacy.scss */
h1,
h2,
h3 {
  font-size: 20px;
  font-weight: normal;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin: 10px 0;
}

/* line 17, ../scss/tb-privacy.scss */
h1 {
  font-size: 22px;
}

/* line 21, ../scss/tb-privacy.scss */
h3 {
  font-size: 18px;
}

/* line 27, ../scss/tb-privacy.scss */
h4,
h5,
h6 {
  font-size: 12px;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-weight: normal;
  margin: 10px 0;
}

/* line 34, ../scss/tb-privacy.scss */
h4 {
  font-size: 16px;
}

/* line 38, ../scss/tb-privacy.scss */
h5 {
  font-size: 14px;
}

/* line 43, ../scss/tb-privacy.scss */
p {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  line-height: 1.5em;
}

/* line 51, ../scss/tb-privacy.scss */
.middle-column {
  width: 600px;
  margin: 0 auto;
}

/* line 60, ../scss/tb-privacy.scss */
ul.bullet-list {
  list-style-type: disc;
  margin-left: 40px;
}
/* line 64, ../scss/tb-privacy.scss */
ul.bullet-list li {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

/* line 73, ../scss/tb-privacy.scss */
strong, b {
  font-weight: bold;
}

/* line 77, ../scss/tb-privacy.scss */
i {
  font-style: italic;
}

/* line 81, ../scss/tb-privacy.scss */
.clr {
  clear: both;
}

/* line 86, ../scss/tb-privacy.scss */
.join-button a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  float: right;
  display: block;
  padding: 5px;
  font-size: 14px;
}
/* line 94, ../scss/tb-privacy.scss */
.join-button a:visited {
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 97, ../scss/tb-privacy.scss */
.join-button a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 108, ../scss/tb-privacy.scss */
h2.join-button a {
  float: none;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
