/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 3, ../scss/tb-privacy.scss */
h1,
h2,
h3 {
  font-size: 18px;
  font-weight: normal;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin: 10px 0;
}

/* line 12, ../scss/tb-privacy.scss */
h4,
h5,
h6 {
  font-size: 12px;
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-weight: normal;
  margin: 10px 0;
}

/* line 21, ../scss/tb-privacy.scss */
p {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

/* line 30, ../scss/tb-privacy.scss */
.middle-column {
  width: 600px;
  margin: 0 auto;
}

/* line 39, ../scss/tb-privacy.scss */
ul.bullet-list {
  list-style-type: disc;
  margin-left: 40px;
}
/* line 43, ../scss/tb-privacy.scss */
ul.bullet-list li {
  font-size: 12px;
  color: #58595b;
  color: #58595a;
  font-family: "Museo Sans", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

/* line 52, ../scss/tb-privacy.scss */
strong, b {
  font-weight: bold;
}

/* line 56, ../scss/tb-privacy.scss */
i {
  font-style: italic;
}

/* line 60, ../scss/tb-privacy.scss */
.clr {
  clear: both;
}

/* line 65, ../scss/tb-privacy.scss */
.join-button a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  float: right;
  display: block;
  padding: 5px;
}
/* line 72, ../scss/tb-privacy.scss */
.join-button a:visited {
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 75, ../scss/tb-privacy.scss */
.join-button a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
