/* line 1, ../scss/partials/_buttons.scss */
.orange {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  /* layer fill content */
  background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  /* layer fill content */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}
/* line 17, ../scss/partials/_buttons.scss */
.orange.activated {
  color: #f9c98c;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}

/* line 23, ../scss/partials/_buttons.scss */
.blue {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background: #8dd9f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8dd9f2), color-stop(28%, #5fd2e7), color-stop(38%, #30cae1), color-stop(100%, #4cc6de));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd9f2', endColorstr='#4cc6de',GradientType=0 );
  /* IE6-9 */
  border: none;
  color: #FFFFFF;
  font-family: 'MuseoSans';
}

/* line 42, ../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 4, ../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 26, ../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
}

/* line 33, ../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 43, ../scss/partials/_inputs.scss */
textarea {
  border-radius: 5px;
  font-family: 'MuseoSans';
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  font-family: 'MuseoSans';
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 12, ../scss/tb-sherlock.scss */
#illustration {
  background: #c9eaf7 no-repeat no-repeat;
  background-size: 100%;
  height: 150px;
  width: 930px;
  margin: 0 auto;
}

/* line 19, ../scss/tb-sherlock.scss */
#home-container {
  margin: 0 auto;
  width: 930px;
  position: relative;
}

/* line 25, ../scss/tb-sherlock.scss */
#map {
  width: 100%;
  height: 640px;
  background-color: #b5e2b3;
}

/* line 31, ../scss/tb-sherlock.scss */
#sherlock-end {
  height: 640px;
}

/* line 35, ../scss/tb-sherlock.scss */
article {
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 640px;
  overflow: scroll;
}

/* line 73, ../scss/tb-sherlock.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 78, ../scss/tb-sherlock.scss */
h2 {
  font-size: 1.3333em;
}

/* line 82, ../scss/tb-sherlock.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 86, ../scss/tb-sherlock.scss */
p {
  margin: 0px;
}

/* line 90, ../scss/tb-sherlock.scss */
.scroll {
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 98, ../scss/tb-sherlock.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 104, ../scss/tb-sherlock.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}
/* line 111, ../scss/tb-sherlock.scss */
.cover.active:before {
  background: url('../images/featured-community-location.png?1381979344') 0px 0px no-repeat;
}

/* line 124, ../scss/tb-sherlock.scss */
#map {
  transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
}

/* line 135, ../scss/tb-sherlock.scss */
.spot {
  width: 120px;
  height: 120px;
  margin: -60px 0px 0px -60px;
  background: url('../images/featured-community-location.png?1381979344') 0px 0px no-repeat;
  position: absolute;
}

/* line 144, ../scss/tb-sherlock.scss */
.spot-cover {
  display: none;
}

/* line 148, ../scss/tb-sherlock.scss */
.spot-baker {
  background-position: -130px 0px;
}
/* line 150, ../scss/tb-sherlock.scss */
.spot-baker.active {
  background-position: -130px -120px;
}

/* line 155, ../scss/tb-sherlock.scss */
.spot-aldgate {
  background-position: -260px 0px;
}
/* line 157, ../scss/tb-sherlock.scss */
.spot-aldgate.active {
  background-position: -260px -120px;
}

/* line 162, ../scss/tb-sherlock.scss */
.spot-london-bridge {
  background-position: -390px 0px;
}
/* line 164, ../scss/tb-sherlock.scss */
.spot-london-bridge.active {
  background-position: -390px -120px;
}

/* line 169, ../scss/tb-sherlock.scss */
.spot-woolwich {
  background-position: -520px 0px;
}
/* line 171, ../scss/tb-sherlock.scss */
.spot-woolwich.active {
  background-position: -520px -120px;
}

/* line 176, ../scss/tb-sherlock.scss */
.spot-gloucester {
  background-position: -650px 0px;
}
/* line 178, ../scss/tb-sherlock.scss */
.spot-gloucester.active {
  background-position: -650px -120px;
}

/* line 183, ../scss/tb-sherlock.scss */
.spot-caulfield-gardens {
  background-position: -780px 0px;
}
/* line 185, ../scss/tb-sherlock.scss */
.spot-caulfield-gardens.active {
  background-position: -780px -120px;
}

/* line 190, ../scss/tb-sherlock.scss */
.spot-telegraph {
  background-position: -910px 0px;
}
/* line 192, ../scss/tb-sherlock.scss */
.spot-telegraph.active {
  background-position: -910px -120px;
}

/* line 197, ../scss/tb-sherlock.scss */
.spot-charing-cross {
  background-position: -1040px 0px;
}
/* line 199, ../scss/tb-sherlock.scss */
.spot-charing-cross.active {
  background-position: -1040px -120px;
}

/* Distinguish the "cover page" visually other sections. */
/* line 206, ../scss/tb-sherlock.scss */
body.section-0 #map {
  opacity: 0.5;
}

@media (max-width: 640px) {
  /* line 211, ../scss/tb-sherlock.scss */
  body {
    font-size: 12px;
    line-height: 16px;
  }

  /* line 215, ../scss/tb-sherlock.scss */
  article {
    width: 100%;
    min-width: 100%;
    padding-top: 0px;
    padding-bottom: 200%;
  }

  /* line 221, ../scss/tb-sherlock.scss */
  section {
    text-shadow: none;
    margin-left: 0px;
    padding: 30px;
  }
  /* line 225, ../scss/tb-sherlock.scss */
  section.active {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  /* line 232, ../scss/tb-sherlock.scss */
  #pane {
    width: 100%;
  }

  /* line 235, ../scss/tb-sherlock.scss */
  #map {
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 150%;
  }
}
@media (min-width: 1280px) {
  /* line 244, ../scss/tb-sherlock.scss */
  body {
    font-size: 18px;
    line-height: 24px;
  }
}
/* line 250, ../scss/tb-sherlock.scss */
section {
  padding: 10px;
  margin-left: 40px;
  position: relative;
  transition: background 500ms, color 500ms;
  -moz-transition: background 500ms, color 500ms;
  -webkit-transition: background 500ms, color 500ms;
  background: #FFFFFF;
  border-radius: 10px;
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin-bottom: 10px;
  width: 265px;
}
/* line 264, ../scss/tb-sherlock.scss */
section .extended {
  display: none;
}
/* line 267, ../scss/tb-sherlock.scss */
section .extended p {
  min-height: 100px;
}
/* line 272, ../scss/tb-sherlock.scss */
section.active {
  background: #cdcdcd;
  color: #eee;
}
/* line 276, ../scss/tb-sherlock.scss */
section.active .extended {
  display: block;
  text-align: right;
}
/* line 282, ../scss/tb-sherlock.scss */
section p {
  margin: 10px 0;
}

/* line 289, ../scss/tb-sherlock.scss */
section a h4 {
  color: #53b8d1;
  /* text color */
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

/* line 298, ../scss/tb-sherlock.scss */
section.active a {
  color: #eee;
}

/* line 299, ../scss/tb-sherlock.scss */
section.active small {
  color: #aaa;
}

/* line 300, ../scss/tb-sherlock.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 301, ../scss/tb-sherlock.scss */
h2 {
  font-size: 1.3333em;
}

/* line 302, ../scss/tb-sherlock.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 304, ../scss/tb-sherlock.scss */
.scroll {
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 310, ../scss/tb-sherlock.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 315, ../scss/tb-sherlock.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}

/* line 321, ../scss/tb-sherlock.scss */
.cover.active:before {
  background: url(sprite.png) 0px -120px no-repeat;
}

/* line 324, ../scss/tb-sherlock.scss */
.share a {
  margin-left: 10px;
}
/* line 327, ../scss/tb-sherlock.scss */
.share a:first-child {
  margin-left: 0;
}
