/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 3, ../scss/partials/_buttons.scss */
a.orange {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
}
/* line 8, ../scss/partials/_buttons.scss */
a.orange.supporting.activated, a.orange.s-button.activated {
  color: #f9c98c;
  /* text color */
}

/* line 13, ../scss/partials/_buttons.scss */
.blue {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  background-image: linear-gradient(to bottom, #8dd9f2 0%, #5fd2e7 28%, #30cae1 38%, #4cc6de 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
}

/* line 17, ../scss/partials/_buttons.scss */
.buttonize {
  display: block;
  float: left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 6, ../scss/partials/_inputs.scss */
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  /*width: 324px;*/
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 28, ../scss/partials/_inputs.scss */
.file-picker-input {
  width: 80px;
  height: 79px;
  border-radius: 10px;
  background-color: #dadbdc;
  background-image: url(../../images/polaroid-camera-composite.png);
  background-repeat: no-repeat;
  background-position: 23px 24px;
}

/* line 38, ../scss/partials/_inputs.scss */
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Museo Sans", sans-serif;
  min-height: 200px;
  max-width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 122, ../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 3, ../scss/partials/_sharing.scss */
.sharing {
  list-style-type: none;
  display: inline-block;
}
/* line 6, ../scss/partials/_sharing.scss */
.sharing li {
  display: inline-block;
}
/* line 9, ../scss/partials/_sharing.scss */
.sharing li span {
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  vertical-align: super;
}
/* line 16, ../scss/partials/_sharing.scss */
.sharing li a {
  display: block;
}
/* line 20, ../scss/partials/_sharing.scss */
.sharing li a.share-fb {
  background: url('../images/small-blue-facebook.png?1390687080') no-repeat;
  background-size: 100%;
  width: 18px;
  height: 15px;
}
/* line 27, ../scss/partials/_sharing.scss */
.sharing li a.share-twitter {
  background: url('../images/small-blue-twitter.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}
/* line 34, ../scss/partials/_sharing.scss */
.sharing li a.share-linkedin {
  background: url('../images/small-blue-linkedin.png?1390687081') no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}

/* line 13, ../scss/tb-sherlock.scss */
#illustration {
  background: #c9eaf7 no-repeat no-repeat;
  height: 150px;
}

/* line 18, ../scss/tb-sherlock.scss */
#map {
  width: 100%;
  height: 640px;
  background-color: #b5e2b3;
}

/* line 24, ../scss/tb-sherlock.scss */
#sherlock-end {
  height: 640px;
}

/* line 28, ../scss/tb-sherlock.scss */
article {
  min-width: 320px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 640px;
  overflow: scroll;
}

/* line 37, ../scss/tb-sherlock.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 42, ../scss/tb-sherlock.scss */
h2 {
  font-size: 1.3333em;
}

/* line 46, ../scss/tb-sherlock.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 50, ../scss/tb-sherlock.scss */
p {
  margin: 0px;
}

/* line 54, ../scss/tb-sherlock.scss */
.scroll {
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 62, ../scss/tb-sherlock.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 68, ../scss/tb-sherlock.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}
/* line 75, ../scss/tb-sherlock.scss */
.cover.active:before {
  background: url('../images/large-featured-location.png?1393979381') 0px 0px no-repeat;
}

/* line 81, ../scss/tb-sherlock.scss */
#map {
  transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
}

/* line 87, ../scss/tb-sherlock.scss */
.spot {
  width: 47px;
  height: 60px;
  margin: -60px 0 0 -30px;
  background: url('../images/large-featured-location.png?1393979381') 0px 0px no-repeat;
  position: absolute;
}

/* Distinguish the "cover page" visually other sections. */
/* line 99, ../scss/tb-sherlock.scss */
body.section-0 #map {
  opacity: 1;
}

@media (max-width: 640px) {
  /* line 104, ../scss/tb-sherlock.scss */
  body {
    font-size: 12px;
    line-height: 16px;
  }

  /* line 108, ../scss/tb-sherlock.scss */
  article {
    width: 100%;
    min-width: 100%;
    padding-top: 0px;
    padding-bottom: 200%;
  }

  /* line 114, ../scss/tb-sherlock.scss */
  section {
    text-shadow: none;
    margin-left: 0px;
    padding: 30px;
  }
  /* line 118, ../scss/tb-sherlock.scss */
  section.active {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  /* line 125, ../scss/tb-sherlock.scss */
  #pane {
    width: 100%;
  }

  /* line 128, ../scss/tb-sherlock.scss */
  #map {
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 150%;
  }
}
@media (min-width: 1280px) {
  /* line 137, ../scss/tb-sherlock.scss */
  body {
    font-size: 18px;
    line-height: 24px;
  }
}
/* line 143, ../scss/tb-sherlock.scss */
section {
  padding: 10px;
  margin-left: 40px;
  position: relative;
  transition: background 500ms, color 500ms;
  -moz-transition: background 500ms, color 500ms;
  -webkit-transition: background 500ms, color 500ms;
  background: #DADADA;
  border-radius: 10px;
  color: #7b7b7b;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  margin-bottom: 10px;
  width: 265px;
}
/* line 164, ../scss/tb-sherlock.scss */
section .extended p {
  min-height: 100px;
}
/* line 169, ../scss/tb-sherlock.scss */
section.active {
  background: #ffffff;
  color: #fff;
}
/* line 174, ../scss/tb-sherlock.scss */
section.active .extended {
  display: block;
  text-align: right;
}
/* line 180, ../scss/tb-sherlock.scss */
section p {
  margin: 10px 0;
  text-align: left;
  line-height: 1.9em;
}

/* line 189, ../scss/tb-sherlock.scss */
section a h4 {
  color: #53b8d1;
  /* text color */
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

/* line 199, ../scss/tb-sherlock.scss */
section a:visited {
  color: #fff;
}

/* line 203, ../scss/tb-sherlock.scss */
section.active a {
  color: #fff;
}

/* line 204, ../scss/tb-sherlock.scss */
section.active small {
  color: #aaa;
}

/* line 205, ../scss/tb-sherlock.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 206, ../scss/tb-sherlock.scss */
h2 {
  font-size: 1.3333em;
}

/* line 207, ../scss/tb-sherlock.scss */
h1, h2 {
  margin: 0px 0px 10px;
}

/* line 209, ../scss/tb-sherlock.scss */
.scroll {
  right: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
}

/* line 215, ../scss/tb-sherlock.scss */
.colophon {
  display: block;
  margin-top: 10px;
}

/* line 220, ../scss/tb-sherlock.scss */
.cover:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  margin: 0px auto 20px;
}

/* line 226, ../scss/tb-sherlock.scss */
.cover.active:before {
  background: url(sprite.png) 0px -120px no-repeat;
}

/* line 229, ../scss/tb-sherlock.scss */
.share a {
  margin-left: 10px;
}
/* line 232, ../scss/tb-sherlock.scss */
.share a:first-child {
  margin-left: 0;
}

/* line 246, ../scss/tb-sherlock.scss */
#communisplore section:first-child {
  margin-top: 60px;
}

/* line 250, ../scss/tb-sherlock.scss */
.slimScrollDiv {
  top: 0px;
  position: absolute !important;
  -webkit-overflow-scrolling: touch;
}

/* line 256, ../scss/tb-sherlock.scss */
.sharing {
  margin-right: 10px;
}
/* line 258, ../scss/tb-sherlock.scss */
.sharing:first-child {
  display: none;
}
