#illustration {
    background: url(../images/illustration-ship.jpg) no-repeat no-repeat;
    background-size: 100%;
    height: 238px;
    width: 930px;
    margin: 0 auto;
}

.submit {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODEyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5YTUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* layer fill content */
    background-image: -moz-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
    background-image: -o-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
    background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
    background-image: linear-gradient(bottom, #f3812b 0%, #f9a533 100%); /* layer fill content */
    border: none;

    height: 33px;
    width: 322px;
    color: #fff;
    font-family: 'MuseoSans';
}

#form-wrapper {
    width:324px;
    margin: 0 auto;
}

#id_profile_picture {
    width: 80px;
    height: 79px;
    border-radius: 10px;
    background-color: #dadbdc;
    margin-left: -100px;
    position: absolute;
    background-image: url(../images/add-photo.png);
    background-repeat: no-repeat;
    background-position: 57px 57px
}


input[type="password"],
input[type="email"],
input[type="text"] {
    width: 324px;
    height: 25px;
    border-radius: 5px;
    font-family: 'MuseoSans';
}

#id_captcha_choicefield {
    list-style: none;
}

#id_captcha_choicefield li {
    display: inline-block;
    margin-left: 60px;
}

#id_captcha_choicefield li:first-child {
    margin-left: 15px;
}

#captcha-question {
    color: #727171; /* text color */
    font-family: "MuseoSans", sans-serif;
    font-size: 12px;
    font-style: italic;
}

.terms-and-conditions {
    color: #727171; /* text color */
    font-family: "MuseoSans", sans-serif;
    font-size: 12px;
    font-style: italic;
}
