/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* text color */
/* line 129, ../scss/partials/_general.scss */
.small-heading {
  color: #9d9d9d;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: both;
}

/* line 8, ../scss/tb-signup.scss */
.submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #f3812b 0%, #f9a533 100%);
  background-image: linear-gradient(to top, #f3812b 0%, #f9a533 100%);
  border: none;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  display: block;
  height: 33px;
  width: 322px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}
/* line 16, ../scss/tb-signup.scss */
.submit:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(bottom, #FF9666 0%, #FFB045 100%);
  background-image: linear-gradient(to top, #FF9666 0%, #FFB045 100%);
}

/* line 22, ../scss/tb-signup.scss */
#form-wrapper {
  width: 324px;
  margin: 0 auto;
}

/* line 27, ../scss/tb-signup.scss */
#id_profile_picture {
  width: 80px;
  height: 79px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #dadbdc;
  margin-left: -100px;
  position: absolute;
  background-image: url('../images/add-photo.png?1390687046');
  background-repeat: no-repeat;
  background-position: 57px 57px;
}

/* line 40, ../scss/tb-signup.scss */
input[type="password"],
input[type="email"],
input[type="text"] {
  width: 324px;
  height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 64, ../scss/tb-signup.scss */
#id_captcha_choicefield {
  list-style: none;
}

/* line 68, ../scss/tb-signup.scss */
#id_captcha_choicefield li {
  display: inline-block;
  margin-left: 60px;
}

/* line 73, ../scss/tb-signup.scss */
#id_captcha_choicefield li:first-child {
  margin-left: 15px;
}

/* line 77, ../scss/tb-signup.scss */
#captcha-question,
.terms-and-conditions {
  color: #727171;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  clear: both;
}

/* line 88, ../scss/tb-signup.scss */
#id_captcha_choicefield li {
  padding: 6px;
}
/* line 91, ../scss/tb-signup.scss */
#id_captcha_choicefield li.captcha_select {
  border: 3px solid #f3812b;
  border-radius: 10px;
  padding: 3px;
}
/* line 97, ../scss/tb-signup.scss */
#id_captcha_choicefield img {
  max-height: 50px;
}

/* line 103, ../scss/tb-signup.scss */
#id_organization_name,
#id_organization_contact,
#id_organization_alt_contact,
#id_organization_cc {
  margin-top: 40px;
}

/* line 110, ../scss/tb-signup.scss */
#id_organization_expiry,
#id_organization_security {
  float: left;
  width: 120px;
}

/* line 116, ../scss/tb-signup.scss */
#id_organization_security {
  margin-left: 20px;
}

/* line 120, ../scss/tb-signup.scss */
#id_organization_security + #captcha-question {
  margin-top: 80px;
}

/* line 124, ../scss/tb-signup.scss */
h5 {
  color: #53b8d1;
  /* text color */
  font-family: "Museo Sans", sans-serif;
  color: #6fc4d8;
}

/* line 130, ../scss/tb-signup.scss */
#home-container > .promise {
  margin-bottom: 20px;
}

/* line 134, ../scss/tb-signup.scss */
form > .promise {
  margin-top: 30px;
}

/* line 138, ../scss/tb-signup.scss */
.promise {
  text-align: left;
  text-align: center;
}
/* line 142, ../scss/tb-signup.scss */
.promise h5 {
  font-size: 12px;
  line-height: 16px;
}
