/*
Syntax error: Invalid CSS after "    margin": expected ";", was ": 0 auto 20px;"
        on line 31 of /Volumes/Brandon/my_projects/thought/thoughtbubble/thoughtbubble/thoughtbubble/static/scss/tb-signup-mobile.scss

Backtrace:
/Volumes/Brandon/my_projects/thought/thoughtbubble/thoughtbubble/thoughtbubble/static/scss/tb-signup-mobile.scss:31
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1149:in `expected'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1123:in `call'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:554:in `block_child'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:535:in `block'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/bin/compass:44:in `call'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `load'
/Users/mlorenz/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `<top (required)>'
-e:1:in `load'
-e:1:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    margin\": expected \";\", was \": 0 auto 20px;\"\A         on line 31 of /Volumes/Brandon/my_projects/thought/thoughtbubble/thoughtbubble/thoughtbubble/static/scss/tb-signup-mobile.scss"; }
