@import "compass";

.idea-cap {
  color: #7a7a7a; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 17px;
  width: 576px;
  height: 113px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 15px;
  background: #daf3f8; /* Old browsers */
  background: -moz-linear-gradient(left,  #daf3f8 80%, #fef8ee 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(80%,#daf3f8), color-stop(80%,#fef8ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #daf3f8 80%,#fef8ee 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #daf3f8 80%,#fef8ee 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #daf3f8 80%,#fef8ee 80%); /* IE10+ */
  background: linear-gradient(to right,  #daf3f8 80%,#fef8ee 80%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf3f8', endColorstr='#fef8ee',GradientType=1 ); /* IE6-9 */
}

.left-idea-cap {
  padding-top: 30px;
  margin-left: 20px;
  width: 440px;
  float: left;

  .supporting {
    width: (151px / 2);
    height: (44px / 2);
    //background: url(../../images/support.png) no-repeat 0 100%;
    display: block;
    float: left;
  }

  .commenting {
    width: 65px;
    height: 22px;
    //background: url(../../images/comment.png) no-repeat 0;
    display: block;
    float: left;
  }

  span {
    color: #7b7b7b; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 10px;
  }

  .sharing {
    display: inline-block;
    list-style-type: none;

    li {


    }
  }

}

.right-idea-cap {
  float:right;
  width: 20%;
  list-style-type: none;
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  color: #797878; /* text color */
  padding-top: 29px;
  padding-left: 20px;

  li {
    margin-top: 5px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .emphasis {
    color: #f37d23; /* text color */
    background: #FFF;
    border-radius: 7px;
    padding: 2px 7px;

  }

  .support-star {
    background-image: image-url("orange-star.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 15% 45%;
    padding-left: 15px;
  }

  .comments-bubble {
    background-image: image-url("orange-comment.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 15% 45%;
    padding-left: 15px;
  }
}

.supporting,
.dislike,
.commenting {
  display:block;
  float:left;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
}