@import "idea/idea";
@import "partials/buttons";
@import "partials/sharing";
@import "partials/chosen";
@import "partials/comments";

#illustration {
    background: url(../../images/illustration-ship.jpg) no-repeat no-repeat;
    background-size: 100%;
    height: 238px;
    width: 930px;
    margin: 0 auto;
}

.copy {
    color: #6d6d6d; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 15px;
    text-align: left;
    text-indent: 10px;
    margin-bottom: 0px;
}

#id_what_for {
    width: 228px;
}


#idea-wrapper {
  width: 600px;
  margin: 0 auto;
  color: #6d6d6d; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 38px / 2;

  b {
    color: #53b8d1; /* text color */
  }

}

.row {
  margin-bottom: 5px;
  &.extrapad {
    margin-bottom: 20px;
  }
}


.support-number {
  color: #f3812b;
}

#id_comment {
  border: 1px solid #d8f1f6;
  border-radius: 10px;
  margin-left: 20px;
}

#form-comment {
  margin-top: 10px;
}

.news {
  color: #9d9d9d; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 15px;
}

.dislike.blue {
  margin: 0 20px;
}

#comments {
  margin-top: 50px;
}

i {
  background-image: image-url("white-star.png");
  background-repeat: no-repeat;
  //background-size: 9px;
  background-position: 15% 45%;
  padding-left: 15px;
}

.supporting {
  .unsupported {
    display: block;
  }
  .supported {
    display: none;
  }


  &.activated {
    .unsupported {
      display: none;
    }
    .supported {
      display: block;
    }
  }
}

.sharing {
  margin: 7px 0 0 0;
}

#support-this {
  float: right;
  width: 280px;
}

.r {
  margin-top: 20px;
}

#images {
  line-height: 80px;

  img {
    max-width: 80px;
    vertical-align: middle;
  }
}

#links {
  margin-bottom: 20px;
}
