@import "idea/idea";
@import "partials/buttons";
@import "partials/sharing";
@import "partials/chosen";
@import "partials/comments";

#illustration {
    background: url(../../images/illustration-ship-trans.png) no-repeat no-repeat;
    background-size: 100%;
    height: 238px;
    width: 930px;
    margin: 0 auto;
}

.copy {
    color: #6d6d6d; /* text color */
    font-family: "Museo Sans", sans-serif;
    font-size: 15px;
    text-align: left;
    text-indent: 10px;
    margin-bottom: 0px;
}

#id_what_for {
    width: 228px;
}


#idea-wrapper {
  width: 600px;
  margin: 0 auto;
  color: #6d6d6d; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 38px / 2;

  b {
    color: #53b8d1; /* text color */
  }

}

.row {
  margin-bottom: 5px;
  &.extrapad {
    margin-bottom: 20px;
  }
}


.support {
  color: #f3812b;
}

#id_comment {
  border: 1px solid #d8f1f6;
  border-radius: 10px;
}

#filtering {
  color: #53b8d1; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 14px;
  width: 570px;
  margin: 0 auto 20px;
}

.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-drop .chosen-results li {
  color: #53b8d1; /* text color */
  font-family: "Museo Sans", sans-serif;
  font-size: 14px;
}

#order, #order_chosen {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

#sort_by {
  vertical-align: super;
}