{% extends 'base.html' %}
{% load classnames %}
{% load widget_tweaks %}
{% load threadedcomments_tags %}
{% load ideacountables %}

{% block title %}
    Idea List
{% endblock %}

{% block head %}
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/idea/detail.css" />
{% endblock %}

{% block bodyid %}idea-detail{% endblock %}

{% block primarynav %}
{% endblock %}

{% block content %}
    <div id="idea-wrapper">

            <div id="support-this">
                <a class="supporting login-required orange {% if idea|is_supported_by_user:user %}activated{% endif %}" data-id="{{ idea.id }}" href="{{ idea.get_support_url }}"><span class="unsupported"><i></i>support</span><span class="supported">supported</span></a>
                <a class="dislike blue" href="#">dislike</a>
                {% with fb=idea.get_fb_sharing twit=idea.get_twit_sharing linkedin=idea.get_linkedin_sharing %}
                    {% include "widgets/sharing.html" %}
                {% endwith %}
            </div>

        <span class="support-number"><i class="support-star-orange"></i>{{ idea.support_count }}</span> support this
        <div id="spacer">
            <div class="clr"></div>
        </div>
        <div id="idea-details">
            <p>{{ idea.get_parent_label }}: <br/><a href="{{idea.get_parent_link }}">{{ idea.get_parent_title }}</a></p>
            <p>Location: <br/><b>{{ idea.content_object.name }}</b></p>
            <p>Type: <br/><b>{{ idea.what_kind }}</b></p>
            <p>When: <br/><b>{{ idea.what_for }}</b></p>
            <p>Idea by: <br/><b>{{ idea.user.username }}</b></p>
        </div>
        <div class="r">We want <b>{{ idea.name }}</b></div>
        <div class="r">I imagine something like this:</div>
        <div class=""><b>{{ idea.description }}</b></div>
        <div id="links" class="r">Links:
            {% for link in idea.idealink_set.all %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>

        <div id="images">
            {% for picture in pictures %}
                <a class="image-popup-no-margins" href="{{ picture.img.url }}">
                    <img src="{{ picture.img.url }}" alt=""/>
                </a>
            {% endfor %}
        </div>
        <div style="clear:both;"></div>
        <div id="map"></div>

{#    Comments #}
        <div class="comments_wrapper" id="comments">
            {% render_comment_list for idea %}

            <div id="wrap_write_comment">
                {% if user.is_authenticated %}
                    {% render_comment_form for idea %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footerscripts %}
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-mapbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-location.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.file-input.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tb/tb-listidea.js"></script>


{#    Comments javascript #}
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
            $('.submit_comment').on('click', function(e){
                e.preventDefault();
                $(e.target).parent().submit();
            });
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
            $('.submit_comment').on('click', function(e){
                e.preventDefault();
                $(e.target).parent().submit();
            });
        });


        $('.comment_support').on('click', function(e) {
            e.preventDefault();
            $target = $(e.target);
            while (!$target.attr('href'))
                $target = $target.parent();

            $.ajax({
                url: $target.attr('href'),
                success: function(data) {
                    if (data.status == 'removed') {
                        $target.removeClass('activated');
                        $(document.body).trigger({type: 'comment:support:count', target: $target, count: data.count});
                    } else if (data.status == 'added') {
                        $target.addClass('activated');
                        $(document.body).trigger({type: 'comment:support:count', target: $target, count: data.count});
                    } else {

                    }
                }
            })
        });

        //Subscribe to events
    $(document.body).on('idea:support:count', function(e){
       $('.support-number').html(e.count);
    });

        $(document.body).on('comment:support:count', function(e){
            $('span',e.target).html(e.count);
        });



    </script>

    <script type="text/javascript">


        $(document).ready(function() {
            TB.Map.map().markerLayer.on('layeradd', function(e) {

                var marker = e.layer,
                        feature = marker.feature;

                marker.setIcon(L.icon(feature.properties.icon));


                // http://leafletjs.com/reference.html#popup
{#                marker.bindPopup(popupContent,{#}
{#                    closeButton: false#}
{#                });#}
            });

            TB.Map.map().setView([{{ idea.get_latitude }},{{ idea.get_longitude }}],15);
            TB.Map.map().markerLayer.setGeoJSON({
                // this feature is in the GeoJSON format: see geojson.org
                // for the full specification
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    // coordinates here are in longitude, latitude order because
                    // x, y is the standard for GeoJSON and many formats
                    coordinates: [{{ idea.get_longitude }}, {{ idea.get_latitude }}]
                },
                properties: {{ idea.get_properties_json|safe }}
            });

        });



    </script>
{% endblock %}