<form id="filtering" action="" method="get">
    <span id="sort_by">Sort by:</span><br/>

    {{ idea_filter.form.content_object }}
    {{ filterform.order }}
    {% if filterform.fields.where_location.queryset %}
        {{ filterform.where_location }}
    {% else %}
        {{ filterform.where_place }}
    {% endif %}

    {{ filterform.when }}
    {{ filterform.what }}
{#    {{ filterform.org }}#}
</form>
<script type="text/javascript">
    $('#id_order').chosen({disable_search_threshold: 10, width:"100px"}).change( function(e) {
        $(e.target).parents('form').submit();
    });

    $('#id_where_place').chosen({disable_search_threshold: 10, width:"240px"}).change( function(e) {
        $(e.target).parents('form').submit();
    });

    $('#id_where_location').chosen({disable_search_threshold: 10, width:"240px"}).change( function(e) {
        $(e.target).parents('form').submit();
    });

    $('#id_when').chosen({disable_search_threshold: 10, width:"80px"}).change( function(e) {
        $(e.target).parents('form').submit();
    });

    $('#id_what').chosen({disable_search_threshold: 10, width:"130px"}).change( function(e) {
        $(e.target).parents('form').submit();
    });
</script>
{#{% for obj in filter %}#}
{#    {{ obj.name }} <br/>#}
{#{% endfor %}#}