{% load threadedcomments_tags %}
{% load ideacountables %}
<div class="idea-cap">
    <div class="left-idea-cap">
        <a href="{{ idea.get_absolute_url }}"><p>{{ idea.name }} in {{ ideation.idea.content_object.name }} for {{ idea.what_for }}</p></a>

        <ul class="right-idea-cap">
            <li><span class="emphasis support-star">{{ idea.support_count }}</span> supporters</li>
            <li><span class="emphasis comments-bubble">{% get_comment_count for idea as comment_count %} {{ comment_count }}</span> comments</li>
            <li>added {{ ideation.idea.get_days_since_added }} days ago</li>
        </ul>

        <div class="idea-interactions">
            <a class="supporting orange {% if idea|is_supported_by_user:user %}activated{% endif %}" data-id="{{ idea.id }}" href="{{ idea.get_support_url }}"><span class="unsupported"><i></i>support</span><span class="supported">supported</span></a>
            <a class="commenting orange" data-id="{{ idea.id }}" href="{{ idea.get_absolute_url }}#comments">comment</a>
            {% include "widgets/sharing.html" %}
        </div>
    </div>

</div>